*{ margin: 0px; padding: 0px;border:0px; font-size:14px;list-style: none;border:none;outline:none;font-size:16px;}
a{text-decoration: none;color: black;}
h3{font-size:20px;}
.classify{width:13%; background:#FFFFFF;float:left;}
@media screen and (max-width: 901px) {.classify{width:100%;float:none;}}
.classify ul.menu .list{background:#FFFFFF;border-bottom:none;font-size:15px;}

.classify ul.menu .list a{color:black}
.menu .list:after:after{color:#E5B70D;content: "\f107";font-family: FontAwesome;}
.menu .list:before{color:#E5B70D;}
.items{display:none;}
.active{display:block;}

ul.menu { width:100%;box-shadow: 0px 0px 25px #00000070;display: table;text-align: center;}
ul.menu .list { border-bottom: 1px solid #324252;position: relative;width: 100%;box-sizing: border-box; background: #3e5165; clear: both;line-height:50px;cursor: pointer;}
ul.menu .list:after { content: "\f107";font-family: FontAwesome;position: absolute;right: 17px;top: 0px;}
ul.menu .list:before { content: '\f07b';font-family: FontAwesome;position: absolute;left: 17px; top: 0px;}
ul.menu .list a { text-decoration: none; color: #fff;display: block; height: 100%;box-sizing: border-box;}
ul.menu .active:before { content: '\f07c';font-family: FontAwesome;position: absolute; left: 17px; top: 0px; color:#E5B70D;background:white;font-size:16px;}




.details{width:87%;height:auto;background:#fff;float:left;}
@media screen and (max-width: 901px) {.details{width:100%;}}
.details-nav{width:86%;height: 55px;background: white;padding:20px}
.details-nav ul li{float: left;font-size:12px;color: #777777;margin-right:10px}
.details-nav ul li img{margin-right:5px;vertical-align: middle;}
.details-frame{padding: 29px;background:#EDEEF2;height:auto;backround:#FFFFFF;}
.details-frame-content{width:100%;padding: 20px;background: white;height:130px;border-bottom: solid 1px #EEEFF1;overflow:auto;}
.centre-border{width:370px;height:170px;border-bottom: 1px solid #F5F6F8;clear:both;margin-bottom:15px;}
.centre-border select,.centre-border .select{width:130px;}
.select{width:160px;height:50px;float:left;margin-left:10px;margin-bottom:5px;position: relative;}
.details-frame-content .select img{position: absolute;right:10px;bottom:8px;}
.manage .select img{position: absolute;right:10px;top:17px;}

select{padding-left:18px ;width:100%;height: 30px;background:#EDEEF0;border-radius:20px; appearance:none;-moz-appearance:none; -webkit-appearance:none;display:run-in;cursor: pointer;}
select[disabled='disabled']::-webkit-value {
color:red;
}
.selected{background-color:#c1ddec}
select[selected]::-webkit-value {
color:red;
}
select[disabled]{
color:red;
}
.select input{width: 180px;height: 30px;background:#EDEEF0;border-radius:20px;text-indent: 1em;}
.im-key{background: #E8474D;color: white;border-radius:20px;margin: 30px 10px;}
@media screen and (max-width: 1600px)  {.im-key{margin: 30px 5px;}}
@media screen and (max-width: 1400px)  {.im-key{margin: 30px 5px;}}
@media screen and (max-width: 901px) {.im-key{margin:5px;}}
.manage{width: 100%;height:auto;padding-top:23px;background:white; position: relative;}
 .show li{float: left;margin-left: 18px;cursor: pointer;height: 30px;border-radius: 30px;color: white; text-align: center;line-height: 30px;font-size:16px;background:#8A959B;font-size:1.4rem;padding:0 8px;}

.admin-table{width:100%;height:auto;margin:0 auto;border-radius:10px;overflow: hidden;padding:20px;}
.admin-table table tr th{text-align: center; height:50px;line-height: 50px;border-right:1px solid #F2F2F2 ;margin:0;font-size:1.3rem;}
.admin-table table tr th img{height:50px;}
.admin-table table{width:100%;border-collapse:collapse;border: 1px solid #B1B1B1;}
 .admin-table table tr{width:100%;height: 42px;margin-bottom:0;border-bottom:1px solid #dbdbdb;}

.admin-table table tr:nth-child(1){background: #CBD2D8;font-weight: bold;}
.admin-table table tr::nth-child(2){box-shadow:0px 1px 1px 0px #B1B1B1 inset;" ng-repeat="c in courselist}
table .selected{background-color:#c1ddec}
.fanye{width:405px;margin: 0 auto;}
.fanye ul{width:405px;}
.fanye  li{margin-left:18px;}
/**/
.poop{position: absolute;left:30%;top:15%;overflow:auto;}
.poop,.poop-revise,.resource{display: none;z-index:50;width: 463px;height: 530px;padding:20px 30px;background: white;box-shadow:1px 1px 4px 4px #D8D6D6;}
 .end{width: 200px;float: right;}
.end input {width:78px;height: 30px;border-radius:20px;margin-top:5px;color: white;font-size:16px;}


.poop-revise{width:790px;position: absolute;left:20%;top: 200px;}
.revise-left{float: left;width:420px;}
.revise-right{float: right;width:300px;}
.hidden-scoll{width: 290px;height:400px; overflow: hidden;border-radius:10px;}
.section{width:310px;height:400px;font-size:15px;overflow-y:auto;overflow-x: hidden;}
.section li{width:290px;height: 30px;line-height: 30px;padding:0 15px;margin:0;}
.section li:nth-child(2n){background:#F7F8FA;}
.section li:nth-child(2n-1){background:#F0F1F3;}
.section li input{float: right;}

.resource{width:790px;position: absolute;left:20%;top:10%;padding: 20px;padding-top:10px;overflow:auto;}
.resource-table{width:720px;height: 340px;overflow: scroll;}
.resource-table ul{width: 100%;height:30px;line-height: 30px;margin:0;}
.resource-table ul li{float: left;text-align: center;width: 20%;border-right:1px solid #F2F2F2;margin:0; }
.resource-table ul:nth-child(2n-1){background:white;}
.resource-table ul:nth-child(2n){background:#F0F1F3;}

/*jieguanli*/
/*guanliantikuID*/
.add-section{width: 100%;}
#section-tab{width: 37%;float: left;height:350px;border-top:1px solid #F2F2F2;}
#section-tab li{margin-top:20px;cursor: pointer;}
.section-table{width:420px;height: 350px;overflow: auto;}
.section-table ul{width:400px;height: 30px;margin: 0;}
.section-table ul:nth-child(2n-1){background:#F7F8FA;}
.section-table ul:nth-child(2n){background:#F0F1F3;}
/*tianjiajie*/
.section-table ul li{line-height: 30px;text-align: center;}
.section-table ul li:nth-child(1){width: 25%;float: left;border-right: 1px solid #EFEFF1;margin:0;}
.section-table ul li:nth-child(2){width: 74%;float: left;margin:0;}
.add-jie-left{width:300px;float: left;}
.add-jie-left p{width:100%;height: 50px;line-height: 50px;border-bottom: 1px solid #F2F2F2;}
.add-jie-radio {width: 230px;height: 50px;line-height: 50px;clear: both;}
.add-jie-radio span:nth-child(1){float: left;font-size:16px;}
.add-jie-radio span:nth-child(2){float: right;font-size:16px;}
.add-jie-right{width:400px;float: right;}

/**/
.select-2 , .select-3 {width:48%;height: 70px;position: relative;}

.select-2 span  , .select-3 span , .grade-text span , .grade-right span , .grade-add-bottom {display: block;margin-bottom: 10px;}
.select-2 input , .grade-text textarea ,.select-3 input{width:100%;height: 30px;background:#EDEEF0;border-radius:20px;text-indent: 1em; font-size:1.5rem}
.select-2 img , .select-3 img{position: absolute;right: 10px;bottom: 20px;}
.select-radio{height:50px;}
.select-radio ul{height: 50px;line-height: 50px; font-size: 2rem;}
.select-radio ul li{float: left;margin:0 5px;}
.select-radio ul li input{width:15px;height:15px;}
.select-3 {width:35%;float:left;margin-right:5%;}

/**/
	div.costs-uploadfile-div{
    position:relative;
clear:both;}
div.costs-uploadfile-div #textfield{
    width:40%;
    height:30px;   
    opacity: 0; 
}
div.costs-uploadfile-div #fileField{
    width:100%;
    height:30px;    
    position: absolute;
    top: 0;
    left:0;
    filter: alpha(opacity:0);
    opacity: 0;
}
div.costs-uploadfile-div .allBtn{
    padding:0;
    margin:0;
    height: 30px;
    line-height: 30px;
    width: 35%;
    background-color: #18b3cf;
    border: none;
    color: #fff;
    }
    .costs-uploadfile-div input{width:80%;}
 .costs-uploadfile-div img:ACTIVE{ transform: scale(7.0);position: fixed;z-index: 9999;}
.admin-table table tr th img:ACTIVE{ transform: scale(9.0);position: fixed;z-index: 9999;}
.costs-uploadfile-div img{height:100px;}
.costs-img{height:100px;}
.admin-table table tr .xiangqing{background:#F9CE33;border-radius: 20px;color: white;padding: 5px;font-size: 1.3rem;cursor: pointer;}
.bitian{color:red;}