.poop h3{border-bottom: 1px solid #eae7e7;padding-bottom: 10px;}
.details-frame-content{height:auto;}
.details-frame-content .select-3{width: 10%;margin-right: 1%;}
.details-frame-content select{border-radius:0;}
@media screen and (min-width: 1601px) {.details-frame-content .select-3{width: 12%;}}
@media screen and (max-width: 1600px)  {.details-frame-content .select-3{width: 14%;}}
@media screen and (max-width: 1400px)  {.details-frame-content .select-3{width: 20%;}}
@media screen and (max-width: 901px) {.details-frame-content .select-3{width: 90%;}}
.details-frame-content .select-3 input{border-radius:0;}
.poop{width:300px;}
.poop .select-2{width:96%;}
.poop .select-2 input , .poop .select-3 select {border-radius:5px;border:#F0F1F3 1px solid;}
.poop .select-3{width:45%;}
/*锟斤拷锟轿憋拷锟斤拷,锟轿程憋拷锟斤拷锟斤拷直锟斤拷锟斤拷锟斤拷*/
.resource{min-width:950px;}
.resource{width:1000px;left:2%;border-radius:10px;top:0%;}

.classify ul.menu .list{background:#F5F6F8;}
.resource h3{padding:15px 0;}
 .xiaobiaoti{font-size:1.5rem;}
.menu{border-radius:10px;overflow:hidden;}
.menu .active li{width:70%;margin:0 auto;line-height:40px;}
.menu .active li:last-child{border-bottom:4px double #f4efef; }
.menu .list b{width:70%;display:block;}
ul.menu .list:after{display:none;}
ul.menu .list:before{content:'-';font-size:2.3rem;font-weight:bold;color:black;background:#F5F6F8;}
ul.menu .active:before{content:'+';font-size:2rem;font-weight:bold;color:black;background:#F5F6F8;}
.resource table{width:100%;} 
.resource table tr th{padding:10px 0;text-align:center;font-weight:400;}
.resource table tr:nth-child(2n){background:#F3F4F6;}
.resource table tr:nth-child(2n-1){background:#FFFFFF;}
.resource table tr:nth-child(1){background:#A3AAB0;color:white;border-radius:5px;}
.yixuanbanji{width:100%;margin-bottom:20px;}
.yixuanbanji li{height:40px;line-height:40px;font-size:1.3rem;background:#F3F4F6;border:1px solid #D4D5D7;padding-left:10px;}
.yixuanbanji li:nth-child(2){border-top:none;}
/*锟斤拷锟斤拷锟窖�*/
.xinxixuanze {display: flex; justify-content: space-between;clear:both;}
.xinxixuanze li{position:relative;}
.xinxixuanze li img{position:absolute;right:6px;top:6px;}
.xinxixuanze  li span{float:left;}
.xinxixuanze  li select{float:right; width: 60%; border-radius: 5px;background: #FFFFFF; border: 1px solid #EBEBEB;margin-left:0;margin-top:-5px;}
.xinxixuanze .im-key{margin:0;background:#5ED8AA;color:white;padding:5px 15px;font-size:1.4rem;}