*{ margin: 0px; padding: 0px;border:none; list-style: none;font-family: "microsoft yahei";outline:none;text-decoration: none;}

.top{width: 100%;height:76px;background-color:#E9484D;height: 76px;line-height: 76px;overflow: hidden;position: relative;}
.top-right{color:white;font-size:15px;display: flex;height:76px;}
.exit{border-left:1px #E8595C solid;text-align: center;height:76px;}
.admin-logo{width:40px;height:40px;border-radius: 50px;background:#D4D4D6;position: relative;margin:15px -8px;}
.admin-logo img{position: absolute;left:7px;top: 8px;}
.classify{width:12%;height:1044px;background:#363441;float: left;margin:0;color:white; position:relative;
 z-index:1;}
.classify li{ width:100%; height:55px;line-height:55px;text-align: center;font-size:16px;height:50px;line-height:50px;}

ul.menu { width:100%;box-shadow: 0px 0px 25px #00000070;display: table;}
ul.menu .list { border-bottom: 1px solid #324252;position: relative;width: 100%;box-sizing: border-box; background: #3e5165; clear: both;line-height:50px;}
ul.menu .list:after { content: "\f107";font-family: FontAwesome;position: absolute;right: 17px;top: 0px;}
ul.menu .list:before { content: '\f07b';font-family: FontAwesome;position: absolute;left: 17px; top: 0px;}
ul.menu .list a { text-decoration: none; color: #fff;display: block; height: 100%;box-sizing: border-box;}
ul.menu .list a:hover { background-color: #324252;transition: 300ms all; color: #09fbd2;}
ul.menu .list .items {height: 0px; overflow: hidden;}

ul.menu .list .items a:hover { background-color: #3f5d79;color: #fff;transition: 300ms all;}
ul.menu .list:last-child { border-bottom: none;}
ul.menu .active:after {content: "\f106"; font-family: FontAwesome;position: absolute;right: 17px; top: 0px; color: #fff;}
ul.menu .active:before { content: '\f07c';font-family: FontAwesome;position: absolute; left: 17px; top: 0px; color: #fff;}
ul.menu .active > .items { display: block;background: #23313f; padding: 0px; height: auto;color: #fff;transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);transition: all 200ms;
  clear: both;float: left;width: 100%;}
ul.menu .active > .items li { padding: 0px; border-bottom: 1px solid #324252;list-style: none;}
ul.menu .active > .items li:last-child {border-color: transparent;padding-bottom: 0px;}
ul.menu .active > .items .active > .items {background-color: #2f4b67;}
ul.menu .active > a { color: #46efa4;text-transform: uppercase;}
ul.menu .active .list {background: #697d92;}
ul.menu .active .list a { padding: 10px 0px 17px 45px;}

