*{ margin: 0px; padding: 0px;border:none; list-style: none;font-family: "microsoft yahei";outline:none;text-decoration: none;}

.top{width: 100%;height:76px;background-color:#E9484D;height: 76px;line-height: 76px;overflow: hidden;position: relative;}
.top-right{color:white;font-size:15px;display: flex;height:76px;}
.exit{border-left:1px #E8595C solid;text-align: center;height:76px;}
.admin-logo{width:40px;height:40px;border-radius: 50px;background:#D4D4D6;position: relative;margin:15px -8px;}
.admin-logo img{position: absolute;left:7px;top: 8px;}
.classify{width:12%;height:1044px;background:#363441;float: left;margin:0;color:white; position:relative;
 z-index:1;}
.classify li{ width:100%; height:55px;line-height:55px;text-align: center;font-size:16px;height:50px;line-height:50px;}

ul.menu { width:100%;box-shadow: 0px 0px 25px #00000070;display: table;}
ul.menu .list { border-bottom: 1px solid #324252;position: relative;width: 100%;box-sizing: border-box; background: #3e5165; clear: both;line-height:50px;}
ul.menu .list:after { content: "\f107";font-family: FontAwesome;position: absolute;right: 17px;top: 0px;}
ul.menu .list:before { content: '\f07b';font-family: FontAwesome;position: absolute;left: 17px; top: 0px;}
ul.menu .list a { text-decoration: none; color: #fff;display: block; height: 100%;box-sizing: border-box;}
ul.menu .list a:hover { background-color: #324252;transition: 300ms all; color: #09fbd2;}
ul.menu .list .items {height: 0px; overflow: hidden;}

ul.menu .list .items a:hover { background-color: #3f5d79;color: #fff;transition: 300ms all;}
ul.menu .list:last-child { border-bottom: none;}
ul.menu .active:after {content: "\f106"; font-family: FontAwesome;position: absolute;right: 17px; top: 0px; color: #fff;}
ul.menu .active:before { content: '\f07c';font-family: FontAwesome;position: absolute; left: 17px; top: 0px; color: #fff;}
ul.menu .active > .items { display: block;background: #23313f; padding: 0px; height: auto;color: #fff;transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);transition: all 200ms;
  clear: both;float: left;width: 100%;}
ul.menu .active > .items li { padding: 0px; border-bottom: 1px solid #324252;list-style: none;}
ul.menu .active > .items li:last-child {border-color: transparent;padding-bottom: 0px;}
ul.menu .active > .items .active > .items {background-color: #2f4b67;}
ul.menu .active > a { color: #46efa4;text-transform: uppercase;}
ul.menu .active .list {background: #697d92;}
ul.menu .active .list a { padding: 10px 0px 17px 45px;}

#menu {
  overflow: hidden;
  height: 100%;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 border: 1px solid #F4F4F4;
 width: 11%;

}


#menu #open {
  
 
  height: 100%;
  background-color: #FFFFFF;
  padding-bottom: 0.1rem;
  box-sizing: border-box;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
}
 

#menu #open .navBox {
  height: 100%;
  overflow-y: auto;
  padding-left: 0.05rem;
  padding-right: 0.07rem;
  margin-top: 0.1rem;

}
#menu #open .navBox ul li {

  cursor: pointer;
  margin-bottom: 4px;
      border-bottom: 0.8px solid #F4F4F4;
}

#menu #open .navBox ul li h2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  font-size: 0.15rem;
  padding: 0.15rem 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  font-size:18px;
}
#menu #open .navBox ul li h2 i {
  position: absolute;
  top: 50%;
  right: 0.15rem;
  border-top: 0.07rem transparent dashed;
  border-left: 0.07rem solid #fff;
  border-right: 0.07rem transparent dashed;
  border-bottom: 0.07rem transparent dashed;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  -o-transition: -o-transform 0.6s ease;
  -ms-transition: -ms-transform 0.6s ease;
  transform-origin: 4px 3px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);

}
#menu #open .navBox ul li h2 .w:before { content: '\f07b';font-family: FontAwesome;color:#FFCD2C;font-size:18px;}
#menu #open .navBox ul li h2 .arrowRot:before { content: '\f07c';font-family: FontAwesome;color:#FFCD2C;font-size:20px;}

#menu #open .navBox ul li .secondary {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  color:black;
}
#menu #open .navBox ul li .secondary h3 {
  padding: 0.1rem 0;
    text-align: center;
    font-size: 0.13rem;
height:40px;
line-height:40px;
    color:black;
  
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}

#menu #open .navBox ul li .secondary .seconFocus {

  -webkit-box-shadow: 3px 3px 3px #aa8c51;
  -moz-box-shadow: 3px 3px 3px #aa8c51;
  box-shadow: 3px 3px 3px #aa8c51;
}
