.select-2{width:100%;}
.select-2 input, .grade-text textarea, .select-3 input{background: white;width:100%}
.grade-text textarea{height:80px;}
.tit{font-size:1.8rem;font-weight:bold;width:50%;float: left;margin-bottom��10px;}
.tsgs{background:#F7F8FA;padding:10px;width:49%;border: 1px solid #E4E9EC;border-radius:10px;}
.fl{width:100%;clear:both;font-size:1.5rem;padding-top:20px;}
.fltit{font-size:1.6rem;font-weight: bold;}
.fl ul{display: flex; flex-wrap:wrap;}
.fl ul li:nth-child(1){width:80px;color:#999;font-size:1.7rem;margin-right:20px;background:none;border:none;padding:5px 0;}
.fl ul li{margin-right:25px;padding:3px 30px;padding-top:5px;border-radius:15px;font-size:1.5rem;border:1px solid #e8d9d9;margin-bottom:10px;}

