*{ margin: 0px; padding: 0px;border:none; list-style: none;font-family:"/";outline:none;text-decoration: none;font-size:14px}
a{outline: none;color:black;outline: none;}
input{background-color:transparent;}
.bgj{
	background: -moz-linear-gradient(80deg,#F4A123,#F46C21);
	background: -webkit-linear-gradient(80deg,#F4A123,#F46C21) ;
	background: -ms-linear-gradient(80deg,#F4A123,#F46C21) ;
	background: linear-gradient(80deg,#F4A123,#F46C21);color:}
	.xh{position:relative;}
.all{width:100%;max-width: 600px;margin:0 auto;}
.banner{width: 100%;}
.staff{display: flex;justify-content: center;align-items: center;margin:20px 0;}
.staff img{width:80px;height:80px;border-radius:100px;margin-right:18px;}
.staff text{display:block;font-szie:18px;}
.register{margin-top:20px;}
.inp{width: 90%;margin:0 auto;padding: 15px;border-bottom: 1px #ececec solid;position: relative;}
.inp input{width: 100%;font-size: 18px;}
.inp text{position:absolute;right: 0;top: 15px;color:#FE9A50;font-size:18px;}
.butt{width: 90%;padding: 10px 0;font-size: 20px;color: white;margin: 0 auto;display: block;margin-top: 40px;}