<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.BannerDao">
	<resultMap type="com.ola.qh.entity.Banner" id="BannerMap">
		<result column="id" property="id" />
		<result column="imageurl" property="imageurl" />
		<result column="type" property="type" />
		<result column="out_links" property="outLinks" />
		<result column="isshow" property="isshow" />
	</resultMap>
	<select id="selectBanner" resultMap="BannerMap">
		select * from banner where type=#{type} and isshow=1
	</select>
	<insert id="saveBanner" parameterType="com.ola.qh.entity.Banner">
		insert into banner(id,imageurl,type,out_links,isshow) values(#{id},#{imageurl},#{type},#{outLinks},#{isshow})
	</insert>
	
	<update id="updateBanner" parameterType="com.ola.qh.entity.Banner">
		update banner set 
		<if test="type!=0">
		type=#{type},
		</if>
		<if test="imageurl!=null">
		imageurl=#{imageurl},
		</if>
		<if test="outLinks!=null">
		out_links=#{outLinks},
		</if>
		<if test="isshow!=0">
		isshow=#{isshow},
		</if>
		 id=#{id} where id=#{id}
	</update>
	
	<delete id="deleteBanner" parameterType="com.ola.qh.entity.Banner">
		delete from banner where id=#{id}
	</delete>
	
</mapper>