<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	<mapper namespace="com.ola.qh.dao.CourseDao">
	<!--课程的映射-->
	<resultMap type="com.ola.qh.entity.Course" id="CourseMap">
	<result column="course_name" property="courseName"/>
	<result column="course_type_name" property="courseTypeName"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="course_chapter_size" property="courseChapterSize"/>
	<result column="course_price" property="coursePrice"/>
	<result column="course_discount_price" property="courseDiscountPrice"/>
	<result column="course_year" property="courseYear"/>
	<result column="course_show" property="courseShow"/>
	<result column="course_excellent" property="courseExcellent"/>
	<result column="course_img" property="courseImg"/>
	<result column="course_resource_type" property="courseResourceType"/>
	<result column="course_use_difference" property="courseUseDifference"/>
	<result column="addtime" property="addtime" />
	<result column="updatetime" property="updatetime"/>
	</resultMap>
	
	
	<!--大类别的映射-->
	<resultMap type="com.ola.qh.entity.CourseType" id="CourseTypeMap">
	<result column="id" property="id"/>
	<result column="course_type_name" property="courseTypeName"/>
	</resultMap>
	
	<!--子类别的映射-->
	<resultMap type="com.ola.qh.entity.CourseTypeSubclass" id="CourseTypeSubclassMap">
	<result column="id" property="id"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="course_type_id" property="courseTypeId"/>
	</resultMap>
	
	
	
	
	<!--查用户类别的开始####################-->
	<select id="courseTypeList" resultMap="CourseTypeMap">
	select * from course_type
	</select>
	
	<!--通过大类别的id查小类别-->
	<select id="courseTypeSubclassList" resultMap="CourseTypeSubclassMap">
	select course_type_subclass_name from course_type_subclass where course_type_id=#{courseTypeId}
	</select>
	<!--查用户类别的结束#################### -->
	
	<!--课程按照不同的条件进行查询-->
	<select id="courseList" resultMap="CourseMap" parameterType="com.ola.qh.entity.Course">
	
	select * from course where course_show=1
	<if test="courseExcellent!=0">
	 and course_excellent=#{courseExcellent}
	</if>
	<if test="courseTypeName!=null">
	 and course_type_name=#{courseTypeName}
	</if>
	<if test="courseTypeSubclassName!=null">
	 and course_type_subclass_name=#{courseTypeSubclassName}
	</if>
	order by addtime desc 
	limit #{pageNo},#{pageSize}
	</select>
		
	
	</mapper>