<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.CourseSubclassDao">


	<!-- 课程章的开始############################################## -->
	<!-- 课程章的映射 -->
	<resultMap type="com.ola.qh.entity.CourseChapter" id="CourseChapterMap">
	<result column="id" property="id"/>
	<result column="course_id" property="courseId"/>
	<result column="course_lecturer" property="courseLecturer"/>
	<result column="ispay" property="ispay"/><!-- 是否付费 -->
	<result column="course_chapter_category" property="courseChapterCategory"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	
	<insert id="insertCourseChapter" parameterType="com.ola.qh.entity.CourseChapter">
	insert into course_chapter(id,course_id,course_lecturer,ispay,course_chapter_category,addtime)
	 values(#{id},#{courseId},#{courseLecturer},#{ispay},#{courseChapterCategory},#{addtime})
	</insert>
	<!-- 课程章的查询 -->
	<select id="courseChapterList" resultMap="CourseChapterMap">
	select id,course_id,course_lecturer,ispay,course_chapter_category,addtime from course_chapter
	<if test="courseId!=null">
	where  course_id=#{courseId}
	</if>
	</select>
	
	<!-- 课程章的结束############################################## -->
	
	
	
	<!-- 课程节的开始############################################## -->
	
	<resultMap type="com.ola.qh.entity.CourseSection" id="CourseSectionMap">
	<result column="id" property="id"/>
	<result column="course_chapter_id" property="courseChapterId"/>
	<result column="section_name" property="sectionName"/>
	<result column="aliyunId" property="aliyunId"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	
	<insert id="insertCourseSection" parameterType="com.ola.qh.entity.CourseSection">
	insert into course_section(id,course_chapter_id,section_name,aliyunId,addtime)
	values(#{id},#{courseChapterId},#{sectionName},#{aliyunId},#{addtime})
	</insert>
	
	<!-- 课程节的查询 -->
	<select id="courseSectionList" resultMap="CourseSectionMap">
	select id,course_chapter_id,section_name,aliyunId,addtime from course_section
	<if test="courseChapterId!=null">
	where  course_chapter_id=#{courseChapterId}
	</if>
	</select>
	
	<!-- 课程节的结束############################################## -->
</mapper>