<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	<mapper namespace="com.ola.qh.dao.CourseDao">
	
	
	<!--课程大类别的开始####################################-->
	<!--大类别的映射-->
	<resultMap type="com.ola.qh.entity.CourseType" id="CourseTypeMap">
	<result column="id" property="id"/>
	<result column="course_type_name" property="courseTypeName"/>
	</resultMap>
	
	<insert id="insertCourseType">
	insert into course_type(id,course_type_name) values(#{id},#{courseTypeName})
	</insert>
	<select id="courseTypeList" resultMap="CourseTypeMap">
	    select * from course_type
	</select>
	<update id="updateCourseType" parameterType="String">
	    update course_type set course_type_name=#{courseTypeName} where id=#{id}
	</update>
	
	<!--课程大类别的结束######################################## -->
	
	
	<!--课程小类别的开始####################################-->
	<!--子类别的映射-->
	<resultMap type="com.ola.qh.entity.CourseTypeSubclass" id="CourseTypeSubclassMap">
	<result column="id" property="id"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="course_type_id" property="courseTypeId"/>
	</resultMap>
	<insert id="insertCourseTypeSubclass" parameterType="String">
		insert into course_type_subclass(id,course_type_subclass_name,course_type_id)values(#{id},#{courseTypeSubclassName},#{courseTypeId})
	</insert>
	<!--通过大类别的id查小类别-->
	<select id="courseTypeSubclassList" resultMap="CourseTypeSubclassMap">
	select * from course_type_subclass 
	<if test="courseTypeId!=null">
		where course_type_id=#{courseTypeId}
	</if> 
	</select>
	<update id="updateCourseTypeSubclass" parameterType="String">
	update course_type_subclass set
	<if test="courseTypeSubclassName!=null">
		course_type_subclass_name=#{courseTypeSubclassName},
	</if>
	<if test="courseTypeId!=null">
		course_type_id=#{courseTypeId},
	</if>
		id=#{id}
		where id=#{id}
	</update>
	<!--课程小类别的结束######################################## -->
	
	
	
	<!-- 课程的处理开始*************************************************** -->
	<!--课程的映射-->
	<resultMap type="com.ola.qh.entity.Course" id="CourseMap">
	<result column="id" property="id"/>
	<result column="course_name" property="courseName"/>
	<result column="course_type_name" property="courseTypeName"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="course_price" property="coursePrice"/>
	<result column="course_discount_price" property="courseDiscountPrice"/>
	<result column="course_year" property="courseYear"/>
	<result column="course_show" property="courseShow"/>
	<result column="course_excellent" property="courseExcellent"/>
	<result column="course_img" property="courseImg"/>
	<result column="course_resource_type" property="courseResourceType"/>
	<result column="course_use_difference" property="courseUseDifference"/>
	<result column="addtime" property="addtime" />
	<result column="updatetime" property="updatetime"/>
	<result column="class_id" property="classId"/>
	<result column="maxdoudou" property="maxdoudou"/>
	</resultMap>
	
	<sql id="sql_base">
	id,course_name,course_type_name,course_type_subclass_name,
	course_price,course_discount_price,course_year,course_show,course_excellent,course_img
	,course_resource_type,course_use_difference,addtime,maxdoudou
	</sql>
	
	<insert id="insertCourse" parameterType="com.ola.qh.entity.Course">
	insert into course(<include refid="sql_base"></include>,user_id)
	values(#{id},#{courseName},#{courseTypeName},#{courseTypeSubclassName},
	#{coursePrice},#{courseDiscountPrice},#{courseYear},#{courseShow},#{courseExcellent},#{courseImg},
	#{courseResourceType},#{courseUseDifference},#{addtime},#{maxdoudou},#{userId}
	)
	</insert>
	<update id="updateCourese" parameterType="com.ola.qh.entity.Course">
	update course set 
	<if test="courseName!=null">
	course_name=#{courseName},
	</if>
	<if test="courseTypeName!=null">
	course_type_name=#{courseTypeName},
	</if>
	<if test="courseTypeSubclassName!=null">
	course_type_subclass_name=#{courseTypeSubclassName},
	</if>
	<if test="coursePrice>0">
	course_price=#{coursePrice},
	</if>
	<if test="courseDiscountPrice>0">
	course_discount_price=#{courseDiscountPrice},
	</if>
	<if test="courseYear!=null">
	course_year=#{courseYear},
	</if>
	
	course_show=#{courseShow},
	
	<if test="courseExcellent!=0">
	course_excellent=#{courseExcellent},
	</if>
	<if test="courseResourceType!=null">
	course_resource_type=#{courseResourceType},
	</if>
	<if test="courseUseDifference!=null">
	course_use_difference=#{courseUseDifference},
	</if>
	<if test="courseImg!=null">
	course_img=#{courseImg},
	</if>
	<if test="classId!=null and classId!='' ">
	class_id=#{classId},
	</if>
	<if test="maxdoudou!=null and maxdoudou!=''">
	maxdoudou=#{maxdoudou},
	</if>
	updatetime=#{updatetime} where id=#{id}
	</update>
	
	<!--课程按照不同的条件进行查询-->
	<select id="courseList" resultMap="CourseMap" parameterType="com.ola.qh.entity.Course">
	
	select <include refid="sql_base"></include>from course where course_show=0
	<if test="courseExcellent!=0">
	 and course_excellent=#{courseExcellent}
	</if>
	<if test="courseTypeName!=null">
	 and course_type_name=#{courseTypeName}
	</if>
	<if test="courseTypeSubclassName!=null">
	 and course_type_subclass_name=#{courseTypeSubclassName}
	</if>
	<if test="classId!=null and classId!='' ">
	and class_id=#{classId}
	</if>
	<if test="courseName!=null and courseName!='' ">
	and course_name like concat(concat('%',#{courseName},'%'))
	</if>
	order by addtime asc 
	<if test="pageSize!=0">
	limit #{pageNo},#{pageSize}
	</if>
	
	</select>
	
	<select id="courseCount" resultType="int">
		select count(id) from course where  course_type_name=#{courseTypeName} and course_type_subclass_name=#{courseTypeSubclassName}
		<if test="courseName!=null and courseName!=''">
		and course_name like concat(concat('%',#{courseName},'%'))
		</if>
		
	</select>
	
	<select id="existCourse" resultMap="CourseMap">
		select <include refid="sql_base"></include>,class_id from course where id=#{id}
	</select>
	<select id="existCourseList" resultMap="CourseMap">
		select id,class_id from course where class_id=#{classId}
	</select>
	<update id="updateClass" parameterType="com.ola.qh.entity.Course">
		update course set class_id='' where class_id=#{classId}
		
	</update>
	
	<delete id="deleteCourse">
	delete from course where id=#{id}
	</delete>
	<!-- 课程的处理结束*************************************************** -->
	
	<!--推送页面  专业下拉列表  -->
	<select id="selectCourseTypeSubclassNameAll" resultType="java.lang.String">
	select course_type_subclass_name from course_type_subclass
	</select>
	<!--根据CourseTypeSubclassName  和上面重复  后续优化  -->
	<select id="selectByCourseTypeSubclassName" resultMap="CourseMap">
	select id,class_id from course where 1=1 
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!=''">
	and course_type_subclass_name = #{courseTypeSubclassName}
	</if>
	</select>
	</mapper>