<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.CourseLineWhiteDao">

	<resultMap type="com.ola.qh.entity.CourseLineWhite" id="CourseLineWhiteMap">
	<result column="id" property="id"/>
	<result column="live_id" property="liveId"/>
	<result column="mobile" property="mobile"/>
	<result column="addtime" property="addtime"/>
	<result column="updatetime" property="updatetime"/>
	
	</resultMap>

	<insert id="insertLineWhite" parameterType="com.ola.qh.entity.CourseLineWhite">
	insert into course_line_white(id,live_id,mobile,addtime)values
	(#{id},#{liveId},#{mobile},#{addtime})
	</insert>

	<update id="updateLineWhite" parameterType="com.ola.qh.entity.CourseLineWhite">
	update course_line_white set
	<if test="liveId!=null and liveId!=''">
	live_id=#{liveId},
	</if>
	<if test="mobile!=null and mobile!=''">
	mobile=#{mobile},
	</if>
	updatetime=#{updatetime}
	where id=#{id}
	</update>
	
	<select id="lineWhiteList" resultMap="CourseLineWhiteMap">
		select * from course_line_white where live_id=#{liveId}
		<if test="mobile!=null and mobile!=''">
		and mobile=#{mobile}
		</if>
		<if test="pageSize!=0">
		limit #{pageNo},#{pageSize}
		</if>
	</select>
	
	<select id="lineWhiteListCount" resultType="java.lang.Integer">
		select count(id) from course_line_white where live_id=#{liveId}
		<if test="mobile!=null and mobile!=''">
		and mobile=#{mobile}
		</if>
	</select>

	<delete id="deleteLineWhite">
	delete from course_line_white where 1=1
	<if test="liveId!=null and liveId!=''">
	and live_id=#{liveId}
	</if>
	<if test="id!=null and id!=''">
	and id=#{id}
	</if>
	</delete>
	


</mapper>