<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.CourseNofreeDao">
	<resultMap type="com.ola.qh.entity.CourseNofree" id="CourseNofreeMap">
		<result column="id" property="id" />
		<result column="course_type_name" property="courseTypeName" />
		<result column="course_type_subclass_name" property="courseTypeSubclassName" />
		<result column="course_resource_type" property="courseResourceType" />
		<result column="course_use_difference" property="courseUseDifference" />
		<result column="course_name" property="courseName" />
		<result column="teachers" property="teachers" />
		<result column="paly_time" property="palyTime" />
		<result column="describes" property="describes" />
		<result column="aliyunId" property="aliyunId" />
		<result column="video_id" property="videoId"/>
		<result column="video_url" property="videoUrl"/>
		<result column="isremmend" property="isremmend" />
		<result column="img_url" property="imgUrl" />
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
		<result column="orders" property="orders" />
	</resultMap>
	<sql id="sql_coursenofree">
		id,course_type_name,course_type_subclass_name,course_resource_type,course_use_difference,course_name,teachers,paly_time,describes,aliyunId,video_id,video_url,isremmend,img_url,addtime
	</sql>
	<select id="selectCourseNofree" resultMap="CourseNofreeMap">
		select <include refid="sql_coursenofree"></include>,orders from course_nofree 
		where 1=1
		<if test="courseTypeName!=null and courseTypeName!=''">
		and course_type_name=#{courseTypeName}
		</if>
		<if test="courseTypeSubclassName!=null">
		and course_type_subclass_name=#{courseTypeSubclassName}
		</if>
		<if test="teachers!=null and teachers!=''">
		and teachers LIKE CONCAT(CONCAT('%',#{teachers},'%'))
		</if>
		<if test="courseName!=null and courseName!=''">
		and course_name LIKE CONCAT(CONCAT('%',#{courseName},'%'))
		</if>
		order by orders ASC limit #{pageNo},#{pageSize}
	</select>
	
	<select id="selectCourseNofreeCount" resultType="int">
		select count(id) from course_nofree 
		where 1=1
		<if test="courseTypeName!=null and courseTypeName!=''">
		and course_type_name=#{courseTypeName}
		</if>
		<if test="courseTypeSubclassName!=null">
		and course_type_subclass_name=#{courseTypeSubclassName}
		</if>
		<if test="teachers!=null and teachers!=''">
		and teachers LIKE CONCAT(CONCAT('%',#{teachers},'%'))
		</if>
		<if test="courseName!=null and courseName!=''">
		and course_name LIKE CONCAT(CONCAT('%',#{courseName},'%'))
		</if>
		
	</select>
	
	<insert id="insertCourseNofree" parameterType="com.ola.qh.entity.CourseNofree">
		insert into course_nofree(<include refid="sql_coursenofree"></include>,orders)
		 values(#{id},#{courseTypeName},#{courseTypeSubclassName},#{courseResourceType},#{courseUseDifference},#{courseName},#{teachers},#{palyTime},#{describes},#{aliyunId},#{videoId},#{videoUrl},#{isremmend},#{imgUrl},#{addtime},#{orders})
	</insert>
	
	<update id="updateCourseNofree" parameterType="com.ola.qh.entity.CourseNofree">
		update course_nofree set 
		<if test="courseTypeName!=null">
		course_type_name=#{courseTypeName},
		</if>
		
		<if test="courseTypeSubclassName!=null">
		course_type_subclass_name=#{courseTypeSubclassName},
		</if>
		
		<if test="courseResourceType!=null">
		course_resource_type=#{courseResourceType},
		</if>
		
		<if test="courseUseDifference!=null">
		course_use_difference=#{courseUseDifference},
		</if>
		
		<if test="courseName!=null">
		course_name=#{courseName},
		</if>
		
		<if test="teachers!=null">
		teachers=#{teachers},
		</if>
		
		<if test="palyTime!=null">
		paly_time=#{palyTime},
		</if>
		
		<if test="describes!=null">
		describes=#{describes},
		</if>
		
		<if test="aliyunId!=null">
		aliyunId=#{aliyunId},
		</if>
		
		<if test="isremmend!=null">
		isremmend=#{isremmend},
		</if>
		
		<if test="imgUrl!=null">
		img_url=#{imgUrl},
		</if>
		<if test="videoUrl!=null">
		video_url=#{videoUrl},
		</if>
		<if test="videoId!=null">
		video_id=#{videoId},
		</if>
		updatetime=#{updatetime} where id=#{id}
	</update>
	
	<delete id="deleteCourseNofree" >
		delete from course_nofree where id=#{id}
	</delete>
	
	<!-- 热门直播的开始~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<insert id="insertLive" parameterType="com.ola.qh.entity.CourseLineShow">
	insert into course_line_show(id,course_type_name,course_type_subclass_name,live_name,
	img_url,isremmend,isshow,addtime,out_links,live_room_id,live_id,
	live_back_id,starttime,lecturer,teacher_id,isopen,headImgUrl,stoptime)
	values
	(#{id},#{courseTypeName},#{courseTypeSubclassName},
	#{liveName},#{imgUrl},#{isremmend},#{isshow},#{addtime},
	#{outLinks},#{liveRoomId},#{liveId},#{liveBackId},#{starttime},
	#{lecturer},#{teacherId},#{isopen},#{headImgUrl},#{stoptime})
	</insert>
	<resultMap type="com.ola.qh.entity.CourseLineShow" id="liveMap">
	
	<result column="id" property="id"/>
	<result column="course_type_name" property="courseTypeName"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="live_name" property="liveName"/>
	<result column="img_url" property="imgUrl"/>
	<result column="out_links" property="outLinks"/>
	
	<result column="live_room_id" property="liveRoomId"/>
	<result column="live_id" property="liveId"/>
	<result column="live_back_id" property="liveBackId"/>
	<result column="teacher_id" property="teacherId"/>
	<result column="lecturer" property="lecturer"/>
	<result column="starttime" property="starttime"/>
	
	<result column="isopen" property="isopen"/>
	</resultMap>
	
	<select id="selectLiveList" resultMap="liveMap">
	select * from course_line_show where 1=1
	<if test="courseTypeName!=null and courseTypeName!='' ">
	and course_type_name=#{courseTypeName}
	</if>
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!='' ">
	and course_type_subclass_name=#{courseTypeSubclassName}
	</if>
	<if test="liveName!=null and liveName!=''">
	and live_name like concat(concat('%',#{liveName},'%'))
	</if>
	order by addtime desc
	limit #{pageNo},#{pageSize}
	</select>
	
	<select id="selectLiveListCount" resultType="int">
	select count(id) from course_line_show where 1=1
	<if test="courseTypeName!=null and courseTypeName!='' ">
	and course_type_name=#{courseTypeName}
	</if>
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!='' ">
	and course_type_subclass_name=#{courseTypeSubclassName}
	</if>
	<if test="liveName!=null and liveName!=''">
	and live_name like concat(concat('%',#{liveName},'%'))
	</if>
	</select>
	
	
	
	<update id="updateLive" parameterType="com.ola.qh.entity.CourseLineShow">
	update course_line_show set
	<if test="liveName!=null">
	live_name=#{liveName},
	</if>
	<if test="imgUrl!=null">
	img_url=#{imgUrl},
	</if>	
	<if test="isshow!=null">
	isshow=#{isshow},
	</if>
	<if test="isremmend!=null">
	isremmend=#{isremmend},
	</if>
	<if test="outLinks!=null and outLinks!=''">
	out_links=#{outLinks},
	</if>
	<if test="liveId!=null and liveId!='' ">
	live_id=#{liveId},
	</if>
	<if test="liveRoomId!=null and liveRoomId!='' ">
	live_room_id=#{liveRoomId},
	</if>
	<if test="liveBackId!=null and liveBackId!='' ">
	live_back_id=#{liveBackId},
	</if>
	<if test="teacherId!=null and teacherId !=''">
	teacher_id=#{teacherId},
	</if>
	<if test="lecturer!=null and lecturer!=''">
	lecturer = #{lecturer},
	</if>
	<if test="starttime!=null">
	starttime = #{starttime},
	</if>
	<if test="stoptime!=null">
	stoptime = #{stoptime},
	</if>
	<if test="isopen != null">
	isopen = #{isopen},
	</if>
	updatetime=#{updatetime}
	where id=#{id}
	</update>
	
	<select id="singleLive" resultType="com.ola.qh.entity.CourseLineShow">
	select id,live_name  liveName, img_url imgUrl,isshow,course_type_name courseTypeName, course_type_subclass_name courseTypeSubclassName from course_line_show where id=#{id}
	</select>
	
	<delete id="deleteLive">
	delete from course_line_show where id=#{id}
	</delete>
	<!-- 热门直播的结束~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	
	
	
</mapper>