<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.CourseLineWhiteDao">

	<resultMap type="com.ola.qh.entity.CourseLineWhite"
		id="CourseLineWhiteMap">
		<result column="id" property="id" />
		<result column="live_id" property="liveId" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
		
	</resultMap>

	<insert id="insertLineWhite"
		parameterType="com.ola.qh.entity.CourseLineWhite">
		insert into
		course_line_white(id,live_id,username,password,addtime)values
		(#{id},#{liveId},#{username},#{password},#{addtime})
	</insert>

	<update id="updateLineWhite"
		parameterType="com.ola.qh.entity.CourseLineWhite">
		update course_line_white set
		<if test="liveId!=null and liveId!=''">
			live_id=#{liveId},
		</if>
		<if test="username!=null and username!=''">
			username=#{username},
		</if>
		<if test="password!=null and password!=''">
			password=#{password},
		</if>
		updatetime=#{updatetime}
		where id=#{id}
	</update>

	<select id="lineWhiteList" resultMap="CourseLineWhiteMap">
		select * from course_line_white where live_id=#{liveId}
		<if test="username!=null and username!=''">
			and username=#{username}
		</if>
		ORDER BY CONVERT( username USING gbk ) COLLATE gbk_chinese_ci ASC 
		<if test="pageSize!=0">
			limit #{pageNo},#{pageSize}
		</if>
	</select>

	<select id="lineWhiteListCount" resultType="java.lang.Integer">
		select count(id) from course_line_white where live_id=#{liveId}
		<if test="username!=null and username!=''">
			and username=#{username}
		</if>
	</select>

	<delete id="deleteLineWhite">
		delete from course_line_white where 1=1
		<if test="liveId!=null and liveId!=''">
			and live_id=#{liveId}
		</if>
		<if test="id!=null and id!=''">
			and id=#{id}
		</if>
	</delete>

	<!--获取全部信息 -->
	<select id="selectAllByLiveId" resultMap="CourseLineWhiteMap">
		select * from course_line_white where 1=1
		<if test="liveId!=null and liveId!=''">
		and live_id = #{liveId}
		</if>
	</select>

</mapper>