<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.DoctorsDao">
	<resultMap type="com.ola.qh.entity.Doctors" id="DoctorsMap">
		<result column="id" property="id"/>
		<result column="islimit" property="islimit"/>
	</resultMap>
	
	<select id="selectDoctors" resultMap="DoctorsMap">
		select * from doctors where islimit=#{islimit}
	</select>
	
	<update id="updateDoctors">
		update doctors set islimit=#{islimit} where id=#{id}
	</update>
</mapper>