<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.LivePayDao">
	<resultMap type="com.ola.qh.entity.LivePay" id="LivePayMap">
		<result column="id" property="id"/>
		<result column="mobile" property="mobile"/>
		<result column="realname" property="realname"/>
		<result column="price" property="price"/>
		<result column="discount" property="discount"/>
		<result column="livename" property="livename"/>
		<result column="openId" property="openId"/>
		<result column="liveId" property="liveId"/>
		<result column="starttime" property="startTime"/>
		<result column="status" property="status"/>
		<result column="addtime" property="addtime"/>
		<result column="updatetime" property="updatetime"/>
	</resultMap>
	<select id="livePayList" resultMap="LivePayMap">
		select lp.id id,mobile,realname,price,discount,livename,openId,lp.status,lp.addtime addtime,starttime
		from live_pay lp left join course_line_show cls on lp.liveId=cls.id
		where 1=1
		<if test="status!=null and status!=''">
		and lp.status=#{status}
		</if>
		<if test="livename!=null and livename!=''">
		and livename like concat(concat("%",#{livename},"%"))
		</if>
		<if test="startTime!=null and startTime!=''">
		and starttime=#{startTime}
		</if>
		ORDER BY CONVERT( realname USING gbk ) COLLATE gbk_chinese_ci ASC 
		<if test="pageSize!=0">
		limit #{pageNo},#{pageSize}
		</if>
		
	</select>
	
	<select id="livePayCount" resultType="int">
		select count(lp.id)
		from live_pay lp left join course_line_show cls on lp.liveId=cls.id
		where 1=1
		<if test="status!=null and status!=''">
		and lp.status=#{status}
		</if>
		<if test="livename!=null and livename!=''">
		and livename like concat(concat("%",#{livename},"%"))
		</if>
		<if test="startTime!=null and startTime!=''">
		and starttime=#{startTime}
		</if>
	</select>
</mapper>