<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.NewsDao">

	<resultMap type="com.ola.qh.entity.News" id="NewsMap">
	<result column="id" property="id"/>
	<result column="types" property="types"/>
	<result column="content_types" property="contentTypes"/>
	<result column="title" property="title"/>
	<result column="img_url" property="imgUrl"/>
	<result column="content" property="content"/>
	<result column="addtime" property="addtime"/>
	<result column="isstick" property="isstick"/>
	</resultMap>


	<sql id="sql_base">
	id,types,title,img_url,addtime,isstick
	</sql>
	<insert id="saveNews" parameterType="com.ola.qh.entity.News">
	insert into news(id,types,content_types,title,img_url,content,addtime,isstick)values
	(#{id},#{types},#{contentTypes},#{title},#{imgUrl},#{content},#{addtime},#{isstick})
	</insert>

	<update id="updateNews" parameterType="com.ola.qh.entity.News">
	update news set
	<if test="types!=null">
	types=#{types},
	</if>
	<if test="contentTypes!=null">
	content_types=#{contentTypes},
	</if>
	<if test="title!=null">
	title=#{title},
	</if>
	<if test="imgUrl!=null">
	img_url=#{imgUrl},
	</if>
	<if test="content!=null">
	content=#{content},
	</if>
	<if test="isstick!=0">
	isstick=#{isstick},
	</if>
	id=#{id}
	where id=#{id}
	</update>
	
	<select id="selectNewList" resultMap="NewsMap" parameterType="int">
		select <include refid="sql_base"></include> from news
		<if test="pageNo!=0">
			where content_types=#{contentTypes} limit #{pageNo},#{pageSize}  
		</if>
	</select>


	<select id="singlenews" parameterType="String" resultType="com.ola.qh.entity.News">
		select * from news
		where id=#{id}
	</select>
	
	
	


</mapper>