<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.OperatingDao">
	<resultMap type="com.ola.qh.entity.Operating" id="OperatingMap">
		<result column="id" property="id" />
		<result column="user_role_username" property="userRoleUsername" />
		<result column="operating_scope" property="operatingScope" />
		<result column="operating_status" property="operatingStatus" />
		<result column="operating_user" property="operatingUser" />
		<result column="addtime" property="addtime" />
		
	</resultMap>
	
	<select id="operatingList"  resultMap="OperatingMap">
		select id,user_role_username,operating_scope,operating_status,operating_user,addtime from operating
		where 1=1
		<if test="fromdate!=null and fromdate!='' ">
 		 	and UNIX_TIMESTAMP(addtime)&gt;=UNIX_TIMESTAMP(#{fromdate})
  		</if>
  		<if test="todate!=null and todate!=''">
  			and UNIX_TIMESTAMP(addtime)&lt;UNIX_TIMESTAMP(#{todate})
  		</if>
		<if test="userRoleUsername!=null and userRoleUsername!=''">
			and user_role_username like concat(concat('%',#{userRoleUsername},'%'))
		</if>
		<if test="operatingScope!=null and operatingScope!=''">
			and operating_scope=#{operatingScope}
		</if>
		<if test="operatingStatus!=null and operatingStatus!=''">
			and operating_status=#{operatingStatus}
		</if>
		order by addtime DESC limit #{pageNo},#{pageSize}
	</select>
	
	<select id="operatingCount"  resultType="int">
		select count(id) from operating
		where 1=1
		<if test="fromdate!=null and fromdate!='' ">
 		 	and UNIX_TIMESTAMP(addtime)&gt;=UNIX_TIMESTAMP(#{fromdate})
  		</if>
  		<if test="todate!=null and todate!=''">
  			and UNIX_TIMESTAMP(addtime)&lt;UNIX_TIMESTAMP(#{todate})
  		</if>
		<if test="userRoleUsername!=null and userRoleUsername!=''">
			and user_role_username like concat(concat('%',#{userRoleUsername},'%'))
		</if>
		<if test="operatingScope!=null and operatingScope!=''">
			and operating_scope=#{operatingScope}
		</if>
		<if test="operatingStatus!=null and operatingStatus!=''">
			and operating_status=#{operatingStatus}
		</if>
		
	</select>
	
	<insert id="insertOperating" parameterType="com.ola.qh.entity.Operating" >
		insert into operating(id,user_role_username,operating_scope,operating_status,operating_user,addtime)
		values(#{id},#{userRoleUsername},#{operatingScope},#{operatingStatus},#{operatingUser},#{addtime})
	
	</insert>
	
	
	<delete id="deleteOperating">
		delete from operating where id=#{id}
		
	</delete>
</mapper>