<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.OrdersDao">

<resultMap type="com.ola.qh.entity.Orders" id="OrdersMap">
    <result column="id" property="id"/>
	<result column="user_id" property="userId"/>
	<result column="muser_id" property="muserId"/>
	<result column="orderno" property="orderno"/>
	<result column="qrcodes" property="qrcodes"/>
	<result column="orders_type" property="ordersType"/>
	<result column="payaccount" property="payaccount"/>
	<result column="freight" property="freight"/>
	<result column="count" property="count"/>
	<result column="address" property="address"/>
	<result column="receiver" property="receiver"/>
	<result column="mobile" property="mobile"/>
	<result column="orders_status" property="ordersStatus"/>
	<result column="orders_old_status" property="ordersOldStatus"/>
	<result column="express_no" property="expressNo"/>
	<result column="paytype" property="paytype"/>
	<result column="payname" property="payname"/>
	<result column="addtime" property="addtime"/>
	<result column="paidtime" property="paidtime"/>
	<result column="deliveredtime" property="deliveredtime"/>
	<result column="payment_type" property="paymentType"/>
	<result column="preset_time" property="presetTime"/>
	<result column="class_status" property="classStatus"/>
	<result column="recommend_teacher" property="recommendTeacher"/>
</resultMap>

<!-- 查询所有的发货的商品 -->
<select id="autoComfirmOrders" resultMap="OrdersMap">
select id,deliveredtime,orders_status,muser_id from orders
 where deliveredtime!=null and orders_status="DELIVERED" and orders_type=0
</select>
<!-- 订单 -->
<select id="singleOrders" resultMap="OrdersMap">

select * from orders where id=#{id}
</select>
<select id="ordersList" resultMap="OrdersMap">
  select o.*,u.mobile userMobile from orders o 
  left join user u on u.id=o.user_id 
  where 1=1
  <if test="fromdate!=null and fromdate!='' ">
  and UNIX_TIMESTAMP(o.addtime)&gt;=UNIX_TIMESTAMP(#{fromdate})
  </if>
  <if test="todate!=null and todate!=''">
  and UNIX_TIMESTAMP(o.addtime)&lt;UNIX_TIMESTAMP(#{todate})
  </if>
  <if test="mobile!=null and mobile!=''">
  and u.mobile LIKE CONCAT(CONCAT('%',#{mobile},'%'))
  </if>
  <if test="ordersType!=null and ordersType!=''">
  and o.orders_type=#{ordersType}
  </if>
   <if test="orderno!=null and orderno!='' ">
  and orderno LIKE CONCAT(CONCAT('%',#{orderno},'%'))
  </if>
 <if test="ordersStatus!=null and ordersStatus!='' ">
  <choose>
  <when test="ordersStatus=='REFUND'">
  <!-- 商品订单的退款售后 -->
  and orders_status not in('NEW','PAID','DELIVERED','RECEIVED')
  </when>
  <when test="ordersStatus=='CANCEL'">
  <!-- 服务订单的取消订单的查询 -->
  and orders_status not in('NEW','PAID','RECEIVED')
  </when>
  <otherwise>
 		and orders_status=#{ordersStatus}
  </otherwise>
  </choose>
  </if>
  <if test="recommendTeacher!=null and recommendTeacher!='' ">
  and recommend_teacher LIKE CONCAT(CONCAT('%',#{recommendTeacher},'%'))
  </if>
   <if test="receiver!=null and receiver!=''">
  and receiver LIKE CONCAT(CONCAT('%',#{receiver},'%'))
  </if>
  order by o.addtime desc
  <if test="pageSize!=0">
  limit #{pageNo},#{pageSize}
  </if>
</select>


<select id="ordersListCount" resultType="int">
  select count(o.id) from orders o left join user u on u.id=o.user_id where 1=1
  <if test="fromdate!=null and fromdate!='' ">
  and UNIX_TIMESTAMP(o.addtime)&gt;=UNIX_TIMESTAMP(#{fromdate})
  </if>
  <if test="todate!=null and todate!=''">
  and UNIX_TIMESTAMP(o.addtime)&lt;=UNIX_TIMESTAMP(#{todate})
  </if>
  <if test="mobile!=null and mobile!=''">
  and u.mobile LIKE CONCAT(CONCAT('%',#{mobile},'%'))
  </if>
  <if test="ordersType!=null and ordersType!=''">
  and o.orders_type=#{ordersType}
  </if>
  <if test="orderno!=null and orderno!='' ">
  and orderno LIKE CONCAT(CONCAT('%',#{orderno},'%'))
  </if>
 <if test="ordersStatus!=null and ordersStatus!='' ">
  <choose>
  <when test="ordersStatus=='REFUND'">
  <!-- 商品订单的退款售后 -->
  and orders_status not in('NEW','PAID','DELIVERED','RECEIVED')
  </when>
  <when test="ordersStatus=='CANCEL'">
  <!-- 服务订单的取消订单的查询 -->
  and orders_status not in('NEW','PAID','RECEIVED')
  </when>
  <otherwise>
 		and orders_status=#{ordersStatus}
  </otherwise>
  </choose>
  </if>
  <if test="recommendTeacher!=null and recommendTeacher!='' ">
  and recommend_teacher LIKE CONCAT(CONCAT('%',#{recommendTeacher},'%'))
  </if>
   <if test="receiver!=null and receiver!=''">
  and receiver LIKE CONCAT(CONCAT('%',#{receiver},'%'))
  </if>
</select>
<!-- 订单 -->

<!-- 修改订单的状态 -->
<update id="updateOrders">
	update orders set 
	<if test="ordersStatus!=null">
	orders_status=#{ordersStatus},
	</if>
	<if test="ordersOldStatus!=null">
	orders_old_status=#{ordersOldStatus},
	</if>
	updatetime=#{updatetime}
	where id=#{oid}
	</update>
	<resultMap type="com.ola.qh.entity.OrdersPayment" id="OrdersPaymentMap">
	<result column="id" property="id"/>
	<result column="user_id" property="userId"/>
	<result column="muser_id" property="muserId"/>
	<result column="orders_id" property="ordersId"/>
	<result column="orders_type" property="ordersType"/>
	<result column="money" property="money"/>
	<result column="done" property="done"/>
	<result column="paytype_code" property="paytypeCode"/>
	<result column="pagetype_name" property="paytypeName"/>
	<result column="extransno" property="extransno"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	<select id="listByExtransno" resultMap="OrdersPaymentMap">
	select * from orders_payment where extransno=#{extransno}
	</select>
	
	<select id="singlePayment" resultMap="OrdersPaymentMap">
	select * from orders_payment where orders_id=#{orderId}
	</select>
</mapper>