<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.OrdersDao">

<resultMap type="com.ola.qh.entity.Orders" id="OrdersMap">
    <result column="id" property="id"/>
	<result column="user_id" property="userId"/>
	<result column="muser_id" property="muserId"/>
	<result column="orderno" property="orderno"/>
	<result column="qrcodes" property="qrcodes"/>
	<result column="orders_type" property="ordersType"/>
	<result column="payaccount" property="payaccount"/>
	<result column="freight" property="freight"/>
	<result column="count" property="count"/>
	<result column="address" property="address"/>
	<result column="receiver" property="receiver"/>
	<result column="mobile" property="mobile"/>
	<result column="orders_status" property="ordersStatus"/>
	<result column="orders_old_status" property="ordersOldStatus"/>
	<result column="express_no" property="expressNo"/>
	<result column="paytype" property="paytype"/>
	<result column="payname" property="payname"/>
	<result column="addtime" property="addtime"/>
	<result column="paidtime" property="paidtime"/>
	<result column="deliveredtime" property="deliveredtime"/>
	<result column="payment_type" property="paymentType"/>
	<result column="preset_time" property="presetTime"/>
	<result column="class_status" property="classStatus"/>
</resultMap>

<!-- 查询所有的发货的商品 -->
<select id="autoComfirmOrders" resultMap="OrdersMap">
select id,deliveredtime,orders_status,muser_id from orders
 where deliveredtime!=null and orders_status="DELIVERED" and orders_type=0
</select>

<select id="ordersList" resultMap="OrdersMap">
  select o.*,u.mobile from orders o left join user u on u.id=o.user_id where 1=1
  <if test="fromdate!=null and fromdate!='' ">
  and o.addime&gt;=#{fromdate}
  </if>
  <if test="todate!=null and todate!=''">
  and o.addtime&lt;#{todate}
  </if>
  <if test="mobile!=null and mobile!=''">
  and u.mobile like concat(concat("%",#{mobile},"%"))
  </if>
  <if test="ordersType!=null and ordersType!=''">
  and o.orders_type=#{ordersType}
  </if>
  orders by o.addime desc
  <if test="pageSize!=0">
  limit #{pageNo},#{pageSize}
  </if>
</select>


<select id="ordersListCount" resultType="int">
  select count(o.id) from orders o left join user u on u.id=o.user_id where 1=1
  <if test="fromdate!=null and fromdate!='' ">
  and o.addime&gt;=#{fromdate}
  </if>
  <if test="todate!=null and todate!=''">
  and o.addtime&lt;#{todate}
  </if>
  <if test="mobile!=null and mobile!=''">
  and u.mobile like concat(concat("%",#{mobile},"%"))
  </if>
  <if test="ordersType!=null and ordersType!=''">
  and o.orders_type=#{ordersType}
  </if>
</select>




<!-- 通过订单的id和状态 查对应的订单商品的集合 -->
<resultMap type="com.ola.qh.entity.OrdersProduct" id="OrdersProductMap">
	<result column="id" property="id"/>
	<result column="orders_id" property="ordersId"/>
	<result column="user_id" property="userId"/>
	<result column="muser_id" property="muserId"/>
	<result column="product_id" property="productId"/>
	<result column="product_name" property="productName"/>
	<result column="product_price" property="productPrice"/>
	<result column="count" property="count"/>
	<result column="coupon" property="coupon"/>
	<result column="payout" property="payout"/>
	<result column="product_img" property="productImg"/>
	<result column="status_code" property="statusCode"/>
	<result column="status_name" property="statusName"/>
	<result column="old_status_code" property="oldStatusCode"/>
	<result column="freight" property="freight"/>
	<result column="addtime" property="addtime"/>
	</resultMap>



<select id="selectByOrderId" resultMap="OrdersProductMap">
select * from orders_product where 1=1
<if test="openId!=null">
and orders_id=#{orderId}
</if>
order by addtime desc
<if test="pageSize!=0">
limit #{pageNo},#{pageSize}
</if>
</select>

<select id=selectByOrderIdCount resultType="int">
select count(id) from orders_product where 1=1
<if test="openId!=null">
and orders_id=#{orderId}
</if>

</select>





<select id="selectByOid" resultMap="OrdersProductMap">
	select op.id,op.orders_id,op.user_id,op.muser_id,op.product_id,op.product_name,op.product_price,op.count,
	op.payout,op.product_img,op.status_code,op.freight from orders_product op where orders_id=#{orderId}
	<if test="statusCode!=null">
	and status_code=#{statusCode}
	</if>
</select>
<!-- 修改订单的状态 -->
<update id="updateOrders">
	update orders set 
	<if test="ordersStatus!=null">
	orders_status=#{ordersStatus},
	</if>
	<if test="ordersOldStatus!=null">
	orders_old_status=#{ordersOldStatus},
	</if>
	updatetime=#{updatetime}
	where id=#{oid}
	</update>
	

<!-- 修改订单产品的状态 -->
<update id="updateOrdersProduct">
	update orders_product set 
	<if test="statusCode!=null">
	status_code=#{statusCode},
	</if>
	<if test="statusName!=null">
	status_name=#{statusName},
	</if>
	<if test="oldStatusCode!=null">
	old_status_code=#{oldStatusCode},
	</if>
	updatetime=#{updatetime}
	where id=#{id}
	</update>
</mapper>