<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.ola.qh.dao.OrdersProductDao">
	<!-- 通过订单的id和状态 查对应的订单商品的集合 -->
<resultMap type="com.ola.qh.entity.OrdersProduct" id="OrdersProductMap">
	<result column="id" property="id"/>
	<result column="orders_id" property="ordersId"/>
	<result column="user_id" property="userId"/>
	<result column="muser_id" property="muserId"/>
	<result column="product_id" property="productId"/>
	<result column="product_name" property="productName"/>
	<result column="product_price" property="productPrice"/>
	<result column="count" property="count"/>
	<result column="coupon" property="coupon"/>
	<result column="payout" property="payout"/>
	<result column="product_img" property="productImg"/>
	<result column="status_code" property="statusCode"/>
	<result column="status_name" property="statusName"/>
	<result column="old_status_code" property="oldStatusCode"/>
	<result column="freight" property="freight"/>
	<result column="addtime" property="addtime"/>
	</resultMap>



<!-- 订单商品 -->

<select id="selectByOid" resultMap="OrdersProductMap">
	select op.id,op.orders_id,op.user_id,op.muser_id,op.product_id,op.product_name,op.product_price,op.count,
	op.payout,op.product_img,op.status_code,op.status_name,op.freight from orders_product op where orders_id=#{orderId}
	<if test="statusCode!=null">
	and status_code=#{statusCode}
	</if>
</select>

<!-- 修改订单产品的状态 -->
<update id="updateOrdersProduct">
	update orders_product set 
	<if test="statusCode!=null">
	status_code=#{statusCode},
	</if>
	<if test="statusName!=null">
	status_name=#{statusName},
	</if>
	<if test="oldStatusCode!=null">
	old_status_code=#{oldStatusCode},
	</if>
	updatetime=#{updatetime}
	where id=#{id}
	</update>
	
	<select id="singleOrdersProduct" resultMap="OrdersProductMap">
	select op.id,op.orders_id,op.user_id,op.muser_id,op.product_id,op.product_name,op.product_price,op.count,
	op.payout,op.product_img,op.status_code,op.status_name,op.freight,old_status_code from orders_product op where id=#{id}
	</select>
<!-- 申请退款 -->
<resultMap type="com.ola.qh.entity.OrdersProductRefund" id="OrdersProductRefundMap">
	<result column="id" property="id"/>
	<result column="user_id" property="userId"/>
	<result column="orders_product_id" property="ordersProductId"/>
	<result column="refund_reason" property="refundReason"/>
	<result column="refund_explain" property="refundExplain"/>
	<result column="refund_money" property="refundMoney"/>
	<result column="status_code" property="statusCode"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	<select id="singleRefund" resultMap="OrdersProductRefundMap">
	    select * from orders_product_refund where orders_product_id=#{ordersProductId}
	</select>

	<update id="updateRefund" parameterType="com.ola.qh.entity.OrdersProductRefund">
	update orders_product_refund set 
	<if test="refundReason!=null">
	refund_reason=#{refundReason},
	</if>
	<if test="refundExplain!=null">
	refund_explain=#{refundExplain},
	</if>
	<if test="refundMoney!=0">
	refund_money=#{refundMoney},
	</if>
	<if test="statusCode!=null">
	status_code=#{statusCode},
	</if>
	updatetime=#{updatetime}
	where 1=1
	
	<if test="id!=null">
	and id=#{id}
	</if>
	<if test="ordersProductId!=null">
	and orders_product_id=#{ordersProductId}
	</if>
	</update>
	
	</mapper>