<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.ola.qh.dao.QuestionBankDao">
	<resultMap type="com.ola.qh.entity.QuestionBank" id="QuestionBankMap">
	<result column="id" property="id"/>
	<result column="sub_id" property="subId"/>
	<result column="number_no" property="numberNo"/>
	<result column="title" property="title"/>
	<result column="types" property="types"/>
	<result column="analysis" property="analysis"/>
	<result column="correct" property="correct"/>
	<result column="bankId" property="bankId"/>
	<result column="updatetime" property="updatetime"/>
	<result column="mobile" property="mobile"/>
	<result column="realname" property="realname"/>
	<result column="status" property="status"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	</resultMap>
	
	<insert id="insertQuestionBank" parameterType="com.ola.qh.entity.QuestionBank">
	insert into question_bank(id,sub_id,number_no,title,types,analysis,correct,addtime)
	values(#{id},#{subId},#{numberNo},#{title},#{types},#{analysis},#{correct},#{addtime})
	</insert>
	
	<insert id="insertQuestionUnit" parameterType="com.ola.qh.entity.QuestionBank">
	insert into question_bank_unit(id,bank_id,number_no,title,types,analysis,correct,addtime,sub_id)
	values(#{id},#{bankId},#{numberNo},#{title},#{types},#{analysis},#{correct},#{addtime},#{subId})
	</insert>
	
	<insert id="insertQuestionAnswer" parameterType="com.ola.qh.entity.QuestionAnswer">
	insert into question_bank_answer(id,bank_unit_id,answers,options,correct,orders,addtime)
	values(#{id},#{bankUnitId},#{answers},#{options},#{correct},#{orders},#{addtime})
	</insert>
	
	<select id="selectQuestionBank" resultMap="QuestionBankMap"> 
	select id,sub_id,number_no,title,types,analysis,correct,addtime from question_bank where sub_id=#{subId}
	order by number_no limit #{pageNo},#{pageSize}
	</select>
	
	<select id="singleQuestionBank" resultType="com.ola.qh.entity.QuestionBank"> 
	select id,sub_id,number_no,title,types,analysis,correct,addtime from question_bank where id=#{id}
	
	</select>
	
	<select id="countQuestionBank" resultType="int"> 
	select count(id) from question_bank where sub_id=#{subId}
	
	</select>
	
	<delete id="deleteQuestionBank">
	delete from question_bank where id=#{id}
	</delete>
	
	<update id="updateQuestionBank" parameterType="com.ola.qh.entity.QuestionBank">
	update question_bank set
	<if test="title!=null">
	title=#{title},
	</if>
	<if test="analysis!=null">
	analysis=#{analysis},
	</if>
	<if test="correct!=null">
	correct=#{correct},
	</if>
	updatetime=#{updatetime} where id=#{id}
	</update>
	
	
	<resultMap type="com.ola.qh.entity.QuestionAnswer" id="QuestionAnswerMap">
	<result column="id" property="id"/>
	<result column="bank_unit_id" property="bankUnitId"/>
	<result column="answers" property="answers"/>
	<result column="options" property="options"/>
	<result column="correct" property="correct"/>
	<result column="orders" property="orders"/>
	<result column="updatetime" property="updatetime"/>
	</resultMap>
	
	<select id="selectQuestionAnswer" resultMap="QuestionAnswerMap"> 
	select id,bank_unit_id,answers,options,correct,orders from question_bank_answer where bank_unit_id=#{bankUnitId}
	order by options asc
	</select>
	
	<delete id="deleteQuestionAnswer">
	delete from question_bank_answer where bank_unit_id=#{bankUnitId}
	</delete>
	
	<update id="updateQuestionAnswer" parameterType="com.ola.qh.entity.QuestionAnswer">
	update question_bank_answer set
	<if test="answers!=null">
	answers=#{answers},
	</if>
	<if test="options!=null">
	options=#{options},
	</if>
	<if test="correct!=null">
	correct=#{correct},
	</if>
	updatetime=#{updatetime} where id=#{id}
	</update>
	
	<resultMap type="com.ola.qh.entity.QuestionUnit" id="QuestionUnitMap">
	<result column="id" property="id"/>
	<result column="bank_id" property="bankId"/>
	<result column="title" property="title"/>
	<result column="types" property="types"/>
	<result column="analysis" property="analysis"/>
	<result column="correct" property="correct"/>
	<result column="updatetime" property="updatetime"/>
	</resultMap>
	
	
	<select id="selectQuestionUnit" resultMap="QuestionUnitMap"> 
	select id,bank_id,title,types,analysis,correct from question_bank_unit where bank_id=#{bankId}
	</select>
	
	<delete id="deleteQuestionUnit">
	delete from question_bank_unit where bank_id=#{bankId}
	</delete>
	
	<update id="updateQuestionUnit" parameterType="com.ola.qh.entity.QuestionUnit">
	update question_bank_unit set
	<if test="title!=null">
	title=#{title},
	</if>
	<if test="analysis!=null">
	analysis=#{analysis},
	</if>
	<if test="correct!=null">
	correct=#{correct},
	</if>
	updatetime=#{updatetime} where id=#{id}
	</update>
	
	<!-- user_pc表与user_pc_questionbank表联合查询  -->
	<select id="questionBankList" resultMap="QuestionBankMap">
	select * from user_pc_questionbank as upq
	inner join user_pc as up 
	on up.id = upq.userpc_id
	where 1=1
	<if test="realname!=null and realname!=''">
	and realname LIKE CONCAT(CONCAT('%',#{realname},'%')) 
	</if>
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!=''">
	and course_type_subclass_name = #{courseTypeSubclassName}
	</if>
	<if test="status!=null and status!=''">
	and status = #{status}
	</if>
	limit #{pageNo},#{pageSize}
	</select>
	
	<select id="questionBankListCount" resultType="int">
	select count(*) from user_pc_questionbank as upq
	inner join user_pc as up 
	on up.id = upq.userpc_id
	where 1=1
	<if test="realname!=null and realname!=''">
	and realname LIKE CONCAT(CONCAT('%',#{realname},'%')) 
	</if>
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!=''">
	and course_type_subclass_name = #{courseTypeSubclassName}
	</if>
	<if test="status!=null and status!=''">
	and status = #{status}
	</if>
	</select>
	
	<!-- 以下是直播验证数据页面需要的  数据库表名：course_line_check  -->
	<resultMap type="com.ola.qh.entity.CourseLiveCheck" id="CourseLiveCheckMap">
	<result column="id" property="id"/>
	<result column="mobile" property="mobile"/>
	<result column="token" property="token"/>
	<result column="roomid" property="roomId"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="addtime" property="addtime"/>
	<result column="updatetime" property="updatetime"/>
	</resultMap>
	
	<!--分页展示  -->
	<select id="liveVerifyList" resultMap="CourseLiveCheckMap">
	select * from course_line_check where 1=1 
	<if test="mobile!=null and mobile!=''">
	and mobile LIKE CONCAT(CONCAT('%',#{mobile},'%'))  
	</if>
	<if test="roomId!=null and roomId!=''"> 
	and roomid LIKE CONCAT(CONCAT('%',#{roomId},'%'))
	</if>
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!=''">
	and course_type_subclass_name LIKE CONCAT(CONCAT('%',#{courseTypeSubclassName},'%')) 
	</if>
	order by updatetime desc,addtime desc
	limit #{pageNo},#{pageSize}
	</select>
	
	<!--根据条件查询数量  -->
	<select id="selectLiveVerifyCount" resultType="Integer">
	select count(*) from course_line_check where 1=1 
	<if test="mobile!=null and mobile!=''">
	and mobile LIKE CONCAT(CONCAT('%',#{mobile},'%'))  
	</if>
	<if test="roomId!=null and roomId!=''"> 
	and roomid LIKE CONCAT(CONCAT('%',#{roomId},'%'))
	</if>
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!=''">
	and course_type_subclass_name LIKE CONCAT(CONCAT('%',#{courseTypeSubclassName},'%')) 
	</if>
	</select>
	
	</mapper>