<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.QuestionBankFeedbackDao">
	<resultMap type="com.ola.qh.entity.QuestionBankFeedback"  id="QuestionBankFeedbackMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="category_id" property="categoryId" />
		<result column="bank_id" property="bankId" />
		<result column="types" property="types" />
		<result column="status" property="status" />
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
	</resultMap>

	<select id="feedbackList" resultMap="QuestionBankFeedbackMap">
		select qbf.id id,user_id,category_id,bank_id,qbf.types types,status,qbf.addtime addtime,course_type_subclass_name,name
		,nickname
		from question_bank_feedback qbf
		left join question_bank_category qbc on qbf.category_id=qbc.id 
		left join user u on qbf.user_id=u.id
		left join question_bank qb on qb.id=qbf.bank_id
		where status=#{status}
		<if test="nickname!=null and nickname!=''">
		nickname=#{nickname}
		</if>
		<if test="courseTypeSubclassName!=null and courseTypeSubclassName!=''">
		course_type_subclass_name=#{courseTypeSubclassName}
		</if>
		<if test="name!=null and name!=''">
		name=#{name}
		</if>
		order by addtime desc limit #{pageNo},#{pageSize}
	</select>
	
	<select id="feedbackCount" resultType="int">
		select count(id) from question_bank_feedback 
		where  status=#{status}
	</select>
	
	
	<update id="updateFeedback" parameterType="com.ola.qh.entity.QuestionBankFeedback">
		update question_bank_feedback set status=#{status}  where id=#{id}
	</update>
	
	<delete id="deleteFeedback">
		delete from question_bank_feedback where id=#{id}
	</delete>
</mapper>