<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.SalesmanSecondDao">
	<resultMap type="com.ola.qh.entity.SalesmanSecond" id="SalesmanSecondMap">
		<result column="id" property="id" />
		<result column="mobile" property="mobile" />
		<result column="salesman_id" property="salesmanId" />
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
	</resultMap>
	
	<select id="SecondList" resultMap="SalesmanSecondMap">
		select id,mobile,salesman_id,addtime
		from salesman_second 
		where 1=1
		<if test="salesmanId!=null and salesmanId!=''">
		and salesman_id=#{salesmanId}
		</if>
		<if test="mobile!=null and mobile!=''">
		and mobile=#{mobile}
		</if>
		<if test="pageSize!=0">
		limit #{pageNo},#{pageSize}
		</if>
		
	</select>
	
	<select id="SecondCount" resultType="int">
		select count(id)
		from salesman_second 
		where 1=1
		<if test="salesmanId!=null and salesmanId!=''">
		and salesman_id=#{salesmanId}
		</if>
		<if test="mobile!=null and mobile!=''">
		and mobile=#{mobile}
		</if>
	</select>
	
	<select id="existSecond" resultType="com.ola.qh.entity.SalesmanSecond">
		select *
		from salesman_second 
		where mobile=#{mobile}
	</select>
	
	<insert id="insertSecond" parameterType="com.ola.qh.entity.SalesmanSecond">
		insert into salesman_second(id,mobile,salesman_id,addtime) values(#{id},#{mobile},#{salesmanId},#{addtime})
	</insert>
	
	<update id="updateSecond" parameterType="com.ola.qh.entity.SalesmanSecond">
		update salesman_second set 
		<if test="mobile!=null and mobile!=''">
			mobile=#{mobile],
		</if>
		<if test="salesmanIdNew!=null and salesmanIdNew!=''">
			salesman_id=#{salesmanIdNew},
		</if>
		updatetime=#{updatetime} where salesman_id=#{salesmanId}
	</update>
	
	<delete id="deleteSecond">
		delete from salesman_second where 1=1
		
		<if test="id!=null and id!=''">
			and id=#{id}
		</if>
		<if test="salesmanId!=null and salesmanId!=''">
			and salesman_id=#{salesmanId}
		</if>
		
	</delete>
</mapper>