<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.ShopDao">
<resultMap type="com.ola.qh.entity.Shop" id="ShopMap">
	
	<result column="id" property="id"/>
	<result column="user_id" property="userId"/>
	<result column="shop_type" property="shopType"/>
	<result column="shop_name" property="shopName"/>
	<result column="leader_name" property="leaderName"/>
	<result column="leader_mobile" property="leaderMobile"/>
	<result column="address" property="address"/>
	<result column="business_license_url" property="businessLicenseUrl"/>
	<result column="door_head_url" property="doorHeadUrl"/>
	<result column="shop_logo" property="shopLogo"/>
	<result column="licence_url" property="licenceUrl"/>
	<result column="isrecommend" property="isrecommend"/>
	<result column="islimits" property="islimits"/>
	<result column="remarked" property="remarked"/>
	<result column="business_hours" property="businessHours"/>
	<result column="addtime" property="addtime"/>
	<result column="updatetime" property="updatetime"/>

	<result column="idcard" property="idcard"/>

	<result column="serve_domain" property="serveDomain"/>
	
	</resultMap>
	
	<!-- 所有店铺的列表页 (按照申请时间进行排序)-->
	<select id="selectShopList" resultMap="ShopMap">
	select id,user_id,shop_type,shop_name,leader_name,leader_mobile,address,business_license_url,
	door_head_url,shop_logo,licence_url,islimits,addtime,remarked,isrecommend,
	business_hours,idcard,serve_domain from shop
	where shop_type=#{shopType} and islimits=#{islimits} 
	<if test="isrecommend!=null and isrecommend!=''">
	and isrecommend=#{isrecommend}
	</if>
	<if test="shopName!=null and shopName!=''">
	and shop_name LIKE CONCAT(CONCAT('%',#{shopName},'%'))
	</if>
	<if test="address!=null and address!=''">
	and address=#{address}
	</if>
	 order by addtime desc
	 limit #{pageNo},#{pageSize}
	</select>
	<!-- 店铺详细信息的展示 -->
	<select id="selectShopSingle" resultMap="ShopMap">
	select * from shop where 1=1
	<if test="id!=null and id!=''">
	and id=#{id}
	</if>
	<if test="userId!=null and userId!=''">
	and user_id=#{userId}
	</if>
	<if test="shopType!=null and shopType!='' ">
	and shop_type=#{shopType}
	</if>
	</select>
	<!-- 开通开通店铺的权限 -->
	<update id="updateShop" >
	update shop set isrecommend=#{isrecommend},islimits=#{islimits} where id=#{id}
	</update>

	<select id="selectCount" resultType="int">
	select count(id) from shop where shop_type=#{shopType} and islimits=#{islimits} 
	<if test="isrecommend!=null and isrecommend!=''">
	and isrecommend=#{isrecommend}
	</if>
	<if test="shopName!=null and shopName!=''">
	and shop_name LIKE CONCAT(CONCAT('%',#{shopName},'%'))
	</if>
	<if test="address!=null and address!=''">
	and address=#{address}
	</if>
	</select>


<resultMap type="com.ola.qh.entity.ShopImg" id="ShopImgMap">
	<result column="id" property="id"/>
	<result column="shop_id" property="shopId"/>
	<result column="img_url" property="imgUrl"/>
	<result column="subtype" property="subtype"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	
	<select id="selectImgList" resultMap="ShopImgMap">
	select id,img_url,subtype from shop_img where shop_id=#{shopId} and subtype=#{subtype}
	</select>
	
	
	<!-- 临时店铺的导入 -->
	<insert id="insertShortShop" parameterType="com.ola.qh.entity.Shop">
	insert into short_time_shop(id,shop_name,shop_type,leader_name,leader_mobile,door_head_url,shop_logo,address,islimits,addtime)
	values(#{id},#{shopName},#{shopType},#{leaderName},#{leaderMobile},#{doorHeadUrl},#{shopLogo},#{address},#{islimits},#{addtime}) 
	</insert>
	
	<select id="listShortShop" resultMap="ShopMap">
	select * from short_time_shop where 1=1
	<if test="shopType!=0">
	shop_type=#{shopType}
	</if>
	order by addtime desc
	<if test="pageSize!=0">
	limit #{pageNo},#{pageSize}
	</if>
	</select>
	
	<select id="listShortShopCount" resultType="int">
	select count(id) from short_time_shop where 1=1
	<if test="shopType!=0">
	shop_type=#{shopType}
	</if>
	</select>
	
	<update id="updateShortShop" parameterType="com.ola.qh.entity.Shop">
	update short_time_shop set 
	<if test="shopName!=null and shopName!='' ">
	shop_name=#{shopName},
	</if>
	<if test="shopType!=0">
	shop_type=#{shopType},
	</if>
	<if test="leaderName!=null and leaderName!='' ">
	leader_name=#{leaderName},
	</if>
	<if test="leaderMobile!=null and leaderMobile!='' ">
	leader_mobile=#{leaderMobile},
	</if>
	<if test="doorHeadUrl!=null and doorHeadUrl!='' ">
	door_head_url=#{doorHeadUrl},
	</if>
	<if test="shopLogo!=null and shopLogo!='' ">
	shop_logo=#{shopLogo},
	</if>
	<if test="address!=null and address!='' ">
	address=#{address},
	</if>
	<if test="islimits!=null and islimits!='' ">
	islimits=#{islimits},
	</if>
	updatetime=#{updatetime}
	where id=#{id}
	</update>
	
	
	<delete id="deleteShortShop">
	delete from short_time_shop where id=#{id}
	</delete>
</mapper>