<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.ShopDrugImgDao">
	<resultMap type="com.ola.qh.entity.ShopDrugImg" id="ShopDrugImgMap">
	<result column="id" property="id"/>
	<result column="drug_id" property="drugId"/>
	<result column="img_url" property="imgUrl"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	
	<select id="listDrugImg" resultMap="ShopDrugImgMap">
	select id,img_url from shop_drug_img where drug_id=#{drugId}
	</select>
	
	
</mapper>