<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.ShopDrugDao">
	<resultMap type="com.ola.qh.entity.ShopDrug" id="ShopDrugMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="shop_id" property="shopId" />
		<result column="drug_name" property="drugName" />
		<result column="category_name" property="categoryName" />
		<result column="category_subname" property="categorySubname" />
		<result column="healing_powers" property="healingPowers" />
		<result column="specification" property="specification" />
		<result column="original_price" property="originalPrice" />
		<result column="discount_price" property="discountPrice" />
		<result column="price" property="price" />
		<result column="stocks" property="stocks" />
		<result column="sales_number" property="salesNumber" />
		<result column="status" property="status" />
		<result column="ishot" property="ishot" />
		<result column="isrecommend" property="isrecommend" />
		<result column="issales" property="issales" />
		<result column="istimes" property="istimes"/>
		<result column="deadlines" property="deadlines"/>
		<result column="islimits" property="islimits" />
		<result column="drug_detail" property="drugDetail" />
		<result column="specification_params" property="specificationParams" />
		<result column="product_name" property="productName" />
		<result column="manufacturer" property="manufacturer" />
		<result column="drug_sign" property="drugSign" />
		<result column="approval_number" property="approvalNumber" />
		<result column="period_validity" property="periodValidity" />
		<result column="storages" property="storages" />
		<result column="units" property="units" />
		<result column="proper_people" property="properPeople" />
		<result column="elements" property="elements" />
		<result column="characters" property="characters" />
		<result column="packagings" property="packagings" />
		<result column="indication" property="indication" />
		<result column="dosage" property="dosage" />
		<result column="bad_symptom" property="badSymptom" />
		<result column="taboo" property="taboo" />
		<result column="attention_matter" property="attentionMatter" />
		<result column="drug_interactions" property="drugInteractions" />
		<result column="drug_action" property="drugAction" />
		<result column="shap_code" property="shapCode" />
		<result column="friendly_hint" property="friendlyHint" />
		<result column="img_url" property="imgUrl" />
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
		<result column="freight" property="freight"/>
		<result column="approval_time" property="approvalTime"/>
		<result column="shop_name" property="shopName"/>
	</resultMap>

	<select id="selectDrugList" resultMap="ShopDrugMap">
	select sd.id id,sd.approval_time approvalTime,sd.shop_id shopId,sd.user_id user_id,drug_name,category_name,category_subname,healing_powers,specification,original_price,discount_price,price,
	stocks,sales_number,ishot,sd.isrecommend isrecommend,issales,istimes,sd.islimits islimits,status,freight,deadlines,drug_detail,specification_params,product_name,
	manufacturer,drug_sign,approval_number,period_validity,storages,units,proper_people,elements,characters,packagings,indication,dosage,
	bad_symptom,taboo,attention_matter,drug_interactions,drug_action,shap_code,friendly_hint,img_url,shop_name
	from shop_drug sd left join shop s on sd.shop_id=s.id
	where 1=1
	<if test="categoryName!=null and categoryName!=''">
	and category_name=#{categoryName}
	</if>
	<if test="categorySubname!=null and categorySubname!=''">
	and category_subname=#{categorySubname}
	</if>
	<if test="drugName!=null and drugName!=''">
	and drug_name LIKE CONCAT(CONCAT('%',#{drugName},'%'))
	</if>
	
	<if test="islimits!=null and islimits!=''">
	and sd.islimits=#{islimits}
	</if>
	
	<if test="shopName!=null and shopName!=''">
	and shop_name LIKE CONCAT(CONCAT('%',#{shopName},'%'))
	</if>
	<if test="shopId!=null and shopId!=''">
	and sd.shop_id=#{shopId}
	</if>
	
	 limit #{pageNo},#{pageSize}
	</select>
	
	<update id="updateDrug">
	update shop_drug set 
	
	<if test="islimits!=null and islimits!=''">
	islimits=#{islimits},
	</if>
	<if test="issales!=null and issales!=''">
	issales=#{issales},
	</if>
	<if test="istimes!=null and istimes!=''">
	istimes=#{istimes},
	</if>
	<if test="isrecommend!=null and isrecommend!=''">
	isrecommend=#{isrecommend},
	</if>
	<if test="ishot!=null and ishot!=''">
	ishot=#{ishot},
	</if>
	approval_time=#{approvalTime},
	
	updatetime=updatetime where id=#{id}
	</update>
</mapper>