<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.UserWithdrawDao">
	<resultMap type="com.ola.qh.entity.UserWithdraw"  id="UserWithdrawMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="aliaccount" property="aliaccount" />
		<result column="realname" property="realname" />
		<result column="openId" property="openId" />
		<result column="money" property="money" />
		<result column="pay_status" property="payStatus" />
		<result column="pay_message" property="payMessage" />
		<result column="types" property="types"/>
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
		<result column="status" property="status" />
		
	</resultMap>


	<select id="selectUserWithdraw"  resultMap="UserWithdrawMap">
		select w.*,u.mobile mobile from user_withdraw w left join user u on w.user_id=u.id where 1=1
		<if test="mobile!=null and mobile!=''">
		and u.mobile=#{mobile}
		</if>
		<if test="payStatus!=null">
		and w.pay_status=#{payStatus}
		</if>
		<if test="fromdate!=null and fromdate!='' ">
		and UNIX_TIMESTAMP(w.addtime)&gt;=UNIX_TIMESTAMP(#{fromdate})
		</if>
		<if test="todate!=null and todate!='' ">
		and UNIX_TIMESTAMP(w.addtime)&lt;=UNIX_TIMESTAMP(#{todate})
		</if>
		order by w.addtime ASC limit #{pageNo},#{pageSize}
	</select>
	
	
	<select id="selectUserWithdrawCount"  resultType="int">
		select count(w.id) from user_withdraw w left join user u on w.user_id=u.id where 1=1
		<if test="mobile!=null">
		and u.mobile=#{mobile}
		</if>
		<if test="payStatus!=null">
		and w.pay_status=#{payStatus}
		</if>
		<if test="fromdate!=null and fromdate!='' ">
		and UNIX_TIMESTAMP(w.addtime)&gt;=UNIX_TIMESTAMP(#{fromdate})
		</if>
		<if test="todate!=null and fromdate!='' ">
		and UNIX_TIMESTAMP(w.addtime)&lt;=UNIX_TIMESTAMP(#{todate})
		</if>
	</select>
	
	
	<select id="selectListNoCheck" resultMap="UserWithdrawMap">
	select * from user_withdraw where pay_status in (0,2) and types=#{types}
	</select>
	
	
	<update id="updateChecked">
		update user_withdraw set 
		<if test="payStatus!=0">
		pay_status=#{payStatus},
		</if>
		<if test="payMessage!=null">
		pay_message=#{payMessage},
		</if>
		updatetime=#{updatetime} where id=#{id} 
	</update>
	
	
	
	<select id="checkedAccountBook" resultType="java.lang.String">
	SELECT userId from user_book a where (
	can_withdraw != IFNULL((SELECT sum(money) from user_intomoney_history c where c.user_id=a.user_id),0)-IFNULL((SELECT sum(money) from user_withdraw w where w.user_id=a.user_id),0) 
	or can_withdraw&lt;0 
	
	OR finish_money != IFNULL((SELECT sum(money) from user_withdraw w where w.user_id=a.user_id and w.pay_status=1),0) 
	OR finish_money&lt;0 
	OR on_money != IFNULL((SELECT sum(money) from user_withdraw w where w.user_id=a.user_id and w.pay_status in (0,2)),0)
	or on_money&lt;0
	OR account_money != IFNULL((SELECT sum(money) from user_intomoney_history c where c.user_id=a.user_id),0)
	OR account_money&lt;0
	
	)
	and a.user_id=#{userId}
</select>

	
</mapper>