<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.UserWithdrawHistoryDao">
	<resultMap type="com.ola.qh.entity.UserWithdrawHistory"  id="UserWithdrawHistoryMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="withdraw_types" property="withdrawTypes" />
		<result column="money" property="money" />
		<result column="pay_status" property="payStatus" />
		<result column="pay_message" property="payMessage" />
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
		
	</resultMap>


	<select id="selectUserWithdrawHistory"  resultMap="UserWithdrawHistoryMap">
		select * from user_withdraw_history where pay_status=0 
		<if test="id!=null">
		and id=#{id}
		</if>
		order by addtime ASC limit #{pageNo},#{pageSize}
	</select>
	
	<update id="updateUserWithdrawHistory" parameterType="com.ola.qh.entity.UserWithdrawHistory" >
		update user_withdraw_history set 
		<if test="payStatus!=0">
		pay_status=#{payStatus},
		</if>
		<if test="payMessage!=null">
		pay_message=#{payMessage},
		</if>
		updatetime=#{updatetime} where id=#{id} 
	</update>
	
	
	
</mapper>