<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.UserDao">
	<resultMap type="com.ola.qh.entity.User" id="UserMap">
		<result column="id" property="id" />
		<result column="nickname" property="nickname" />
		<result column="password" property="password" />
		<result column="addtime" property="addtime" />
		<result column="head_img_url" property="headimg" />
		<result column="userrole" property="userrole" />
		<result column="mobile" property="mobile" />
	</resultMap>


	<update id="updateUser" parameterType="com.ola.qh.entity.User" >
		update user set 
		<if test="userrole!=null">
		userrole=#{userrole},
		</if>
		id=#{id} where id=#{id} 
	</update>
	
	<update id="updateFavorite" parameterType="String">
		update user_favorite set status=1 where product_id=#{productId}
	</update>
	
</mapper>