<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.UserDao">
	<resultMap type="com.ola.qh.entity.User" id="UserMap">
		<result column="id" property="id" />
		<result column="nickname" property="nickname" />
		<result column="password" property="password" />
		<result column="addtime" property="addtime" />
		<result column="head_img_url" property="headimg" />
		<result column="userrole" property="userrole" />
		<result column="mobile" property="mobile" />
		<result column="isdoctor" property="isdoctor" />
		<result column="updatetime" property="updatetime" />
		<result column="birthday" property="birthday" />
		<result column="isdisabled" property="isdisabled" />
		<result column="address" property="address"/>
		<result column="realname" property="realname"/>
	</resultMap>

	<insert id="insertUser" parameterType="com.ola.qh.entity.User">
	insert into user(id,password,nickname,mobile,address,realname,addtime)
	values(#{id},#{password},#{nickname},#{mobile},#{address},#{realname},#{addtime})
	</insert>
	
	<select id="selectUser" resultMap="UserMap">
	select * from user 
	where 1=1
	<if test="mobile!=null and mobile!='' ">
	and  mobile LIKE CONCAT(CONCAT('%',#{mobile},'%'))
	</if>
	<if test="nickname!=null and nickname!='' ">
	and  nickname LIKE CONCAT(CONCAT('%',#{nickname},'%'))
	</if>
	<if test="userrole!=null and userrole!='' ">
	and  userrole=#{userrole} 
	</if>
	order by addtime desc limit #{pageNo},#{pageSize}
	</select>
	
	<select id="selectUserCount" resultType="int">
	select count(id) from user 
	where 1=1
	<if test="mobile!=null and mobile!='' ">
	and  mobile LIKE CONCAT(CONCAT('%',#{mobile},'%'))
	</if>
	<if test="nickname!=null and nickname!='' ">
	and  nickname LIKE CONCAT(CONCAT('%',#{nickname},'%'))
	</if>
	<if test="userrole!=null and userrole!='' ">
	and  userrole=#{userrole} 
	</if>
	
	</select>
	
	<update id="updateUser" parameterType="com.ola.qh.entity.User" >
		update user set 
		<if test="userrole!=null and userrole!='' ">
		userrole=#{userrole},
		</if>
		<if test="isdoctor!=null and isdoctor!='' ">
		isdoctor=#{isdoctor},
		</if>
		<if test="isdisabled!=null and isdisabled!='' ">
		isdisabled=#{isdisabled},
		</if>
		<if test="password!=null and password!='' ">
		password=#{password},
		</if>
		<if test="nickname!=null and nickname!='' ">
		nickname=#{nickname},
		</if>
		<if test="mobile!=null and mobile!='' ">
		mobile=#{mobile},
		</if>
		<if test="address!=null and address!='' ">
		address=#{address},
		</if>
		<if test="realname!=null and realname!='' ">
		realname=#{realname},
		</if>
		updatetime=#{updatetime} where id=#{id} 
	</update>
	
	<select id="singleUser" resultMap="UserMap">
		select * from user where id=#{id}
	</select>
	<delete id="delete">
	delete from user where id=#{id}
	</delete>
	
	
	<update id="updateFavorite" parameterType="String">
		update user_favorite set status=1 where product_id=#{productId}
	</update>
	
	<select id="adminLogin" resultType="java.lang.String">
	select nickname from user where nickname=#{username} and password=#{password}
	</select>
</mapper>