<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ola.qh.dao.UserBuyCourseDao">

	<resultMap type="com.ola.qh.entity.UserBuyCourse" id="UserBuyCourseMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="course_id" property="courseId" />
		<result column="course_name" property="courseName" />
		<result column="course_discount_price" property="courseDiscountPrice" />
		<result column="course_price" property="coursePrice" />
		<result column="course_img_url" property="courseImgUrl" />
		<result column="orders_id" property="ordersId" />
		<result column="class_id" property="classId"/>
		<result column="pay_type" property="payType"/>
		<result column="business_id" property="businessId"/>
		<result column="addtime" property="addtime" />
		<result column="status" property="status"/>
	</resultMap>
	<sql id="sql_base">id,user_id,course_id,course_name,orders_id,class_id,addtime,pay_type,business_id</sql>
	<insert id="insertUserCourse" parameterType="com.ola.qh.entity.UserBuyCourse">
	insert into user_buy_course(<include refid="sql_base"></include>,course_discount_price,course_price,course_img_url)values(
	#{id},#{userId},#{courseId},#{courseName},#{ordersId},#{classId},#{addtime},#{payType},#{businessId},#{courseDiscountPrice},#{coursePrice},#{courseImgUrl})
	</insert>
	
	
	
	<select id="selectUserBuyCourse" resultMap="UserBuyCourseMap" parameterType="com.ola.qh.entity.BuyCourseDomain">
	select ubc.*,u.nickname nickname,u.realname realname,u.mobile mobile,bbh.sales_people salesPeople,bbh.course_ways courseways from user_buy_course ubc
	left join user u on u.id=ubc.user_id 
	left join business_book_history bbh on bbh.buy_course_id=ubc.id
	where 1=1
	<if test="nicknameORmobile!=null and nicknameORmobile!='' ">
	and (u.realname like concat(concat('%',#{nicknameORmobile},'%')) 
	or u.mobile like concat(concat('%',#{nicknameORmobile},'%')))
	</if>
	<if test="fromdate!='' and fromdate!=null ">
	and UNIX_TIMESTAMP(ubc.addtime)&gt;=UNIX_TIMESTAMP(#{fromdate})
	</if>
	<if test="todate!='' and todate!=null ">
	and UNIX_TIMESTAMP(ubc.addtime)&lt;UNIX_TIMESTAMP(#{todate})
	</if>
	<if test="businessId!=null and businessId!='' ">
	and business_id=#{businessId}
	</if>
	<if test="types==1 and (classId==null or classId=='')">
	and class_id is not null
	</if>
	<if test="types==2 and (courseId==null or courseId=='')">
	and course_id is not null
	</if>
	<if test="classId!=null and classId!='' ">
	and class_id=#{classId}
	</if>
	<if test="courseId!=null and courseId!='' ">
	and course_id=#{courseId}
	</if>
	order by ubc.addtime desc
	<if test="pageSize!=0">
	limit #{pageNo},#{pageSize}
	</if>
	</select>
	
	
	<select id="selectUserBuyCount" parameterType="com.ola.qh.entity.BuyCourseDomain" resultType="int">
	select count(ubc.id) from user_buy_course ubc
	left join user u on u.id=ubc.user_id 
	left join business_book_history bbh on bbh.buy_course_id=ubc.id
	where 1=1
	<if test="nicknameORmobile!=null and nicknameORmobile!='' ">
	and (u.realname like concat(concat('%',#{nicknameORmobile},'%')) 
	or u.mobile like concat(concat('%',#{nicknameORmobile},'%')))
	</if>
	<if test="fromdate!='' and fromdate!=null ">
	and UNIX_TIMESTAMP(ubc.addtime)&gt;=UNIX_TIMESTAMP(#{fromdate})
	</if>
	<if test="todate!='' and todate!=null ">
	and UNIX_TIMESTAMP(ubc.addtime)&lt;UNIX_TIMESTAMP(#{todate})
	</if>
	<if test="businessId!=null and businessId!='' ">
	and business_id=#{businessId}
	</if>
	<if test="types==1 and (classId==null or classId=='')">
	and class_id is not null
	</if>
	<if test="types==2 and (courseId==null or courseId=='')">
	and course_id is not null
	</if>
	<if test="classId!=null and classId!='' ">
	and class_id=#{classId}
	</if>
	<if test="courseId!=null and courseId!='' ">
	and course_id=#{courseId}
	</if>
	
	</select>
	
	
	
	
	
	<select id="selectUserBuyCourseCount" resultType="int">
	select count(id) from user_buy_course where 1=1
	<if test="userId!=null and userId!='' ">
	and user_id=#{userId}
	</if>
	<if test="classId!=null and classId!='' ">
	and class_id=#{classId}
	</if>
	<if test="courseId!=null and courseId!='' ">
	and course_id=#{courseId}
	</if>
	and status=0
	</select>
	
	
	
	<update id="updateBuy">
	update user_buy_course set status=1 where 1=1
	<if test="classId!=null and classId!='' ">
	and class_id=#{classId}
	</if>
	<if test="courseId!=null and courseId!='' ">
	and course_id=#{courseId}
	</if>
	</update>
	
	<!--根据classid多表查询  -->
	<select id="selectByClassId" resultMap="UserBuyCourseMap">
	select ubc.user_id from user_buy_course as ubc 
	right join course_class as cc
	on ubc.class_id = cc.id 
	left join user as u 
	on u.id = ubc.user_id
	where 1=1 
	<if test="classId !=null and classId!=''">
	and class_id = #{classId}
	</if>
	<if test="sex!=null and sex!=''">
	and u.sex = #{sex}
	</if>
	<if test="userrole!=null and userrole!=''">
	and u.userrole = #{userrole}
	</if>
	<if test="isdoctor!=null and isdoctor!=''">
	and u.isdoctor = #{isdoctor}
	</if>
	<if test="birthday!=null and birthday!=''">
	and u.birthday like (concat('%',#{birthday},'%'))
	</if>
	</select>
	<!--根据courseID多表查询  -->
	<select id="selectByCourseId" resultMap="UserBuyCourseMap">
	select c.user_id from  course as c
	left join user_buy_course as ubc
	on ubc.course_id = c.id
	left join user as u 
	on u.id = ubc.user_id
	where 1=1 
	<if test="courseId!=null and courseId!=''">
	and c.id = #{courseId}
	</if> 
	<if test="sex!=null and sex!=''">
	and u.sex = #{sex}
	</if>
	<if test="userrole!=null and userrole!=''">
	and u.userrole = #{userrole}
	</if>
	<if test="isdoctor!=null and isdoctor!=''">
	and u.isdoctor = #{isdoctor}
	</if>
	<if test="birthday!=null and birthday!=''">
	and u.birthday like (concat('%',#{birthday},'%'))
	</if>
	</select>
</mapper>
